[2018-03-18 09:15] chris-wood opened #3 "Clean up DLEQ notation, adopt that of PrivacyPass"
r & \gets \mathbb{Z}_p \\
A &= rG \\
B &= rM \\
c &= H(G,Y,Z,A,B) \\
s &= (r - ck) (\text{mod} p) \\
& \mathsf{Output } \; (c, s)

A' &= sG + cY \\
B' &= sM + cZ \\
c' &= H(G,Y,Z,A',B') \\
& \mathsf{Output } \; c == c'

\log_G(Y) =? \log_M(Z)
Y = kG, Z = kM

\mathsf{DLEQVerify}(G, Y, M, Z, (c, s))

\mathsf{DLEQGenerate}(G, Y, M, Z)

[2018-03-19 17:15] chris-wood opened #4 "Document title should be "ecvoprf," not "voprf.""

[2018-03-21 09:03] chris-wood opened #5 "Add "parameter commitment" support"
In some cases, it may be desirable for P to force V to only redeem its PRF value for specific set of "parameters." For example, imagine P and V could use the PRF output to derive an encryption key for encrypting data to the server, though V is free to use whatever encryption algorithm it likes. V tells P which algorithm it's using in its redemption+data message to P. Currently, P cannot restrict t

[2018-06-05 21:28] chris-wood commented on #4
Fixed

[2018-06-05 21:28] #4 closed

[2018-06-05 21:29] chris-wood commented on #5
Alternatively: Have a separate public set of commitments for each param value published somewhere and return the current VOPRF value plus a DLEQ with respect to the committed value.

[2018-06-16 02:38] alxdavids commented on #3
I'm happy to have a go at doing this

[2018-06-16 02:48] alxdavids commented on #5
I'm not certain on how providing a DLEQ proof wrt the params forces V to redeem PRF values wrt these same params. The DLEQ proof certainly cannot be verified without using the same params, but it seems like the blinded tokens should also be signed in such a way that the params are implicitly embedded as in the first idea.

Maybe I am mistaken though?

[2018-06-16 16:21] chris-wood opened #6 "Expand test vectors with DLEQ proof outputs"

[2018-06-16 16:21] chris-wood opened #7 "Add a section on use cases"

[2018-06-17 23:41] chris-wood opened #10 "Add more references"
https://eprint.iacr.org/2016/144
http://webee.technion.ac.il/~hugo/sphinx.pdf

[2018-06-18 00:45] alxdavids commented on #10
https://eprint.iacr.org/2014/650

[2018-06-18 00:45] alxdavids commented on #10
will do this

[2018-06-21 00:47] chris-wood commented on #7
Addressed by #5.

[2018-06-21 00:47] #7 closed

[2018-06-21 00:47] chris-wood commented on #5
Closed by #7.

[2018-06-21 00:47] #5 closed

[2018-06-21 00:47] chris-wood commented on #3
Fixed by #9.

[2018-06-21 00:47] #3 closed

[2018-09-25 00:26] #10 closed

[2018-10-19 08:36] alxdavids opened #13 "Change "curve" to "prime-order group""
The VOPRF is generic and can be designed in any prime-order group so we should probably refer to it as such. We can then talk specifically about the various instantiations of prime-order groups including elliptic curves.

@chris-wood If you're happy with this, then I am happy to make the change.

[2018-10-20 01:46] chris-wood commented on #13
@alxdavids Yep, please give it a go!

[2019-02-12 16:51] alxdavids opened #15 "Making verifiability optional"
@chris-wood I spoke to Hugo Krawczyk at RWC and he mentioned being more general in this draft so that we cover OPRFs as well as VOPRFs (i.e. make verifiability optional). This would allow us to cover additional use-cases such as that of OPAQUE (https://eprint.iacr.org/2018/163.pdf) and SPHINCS (https://eprint.iacr.org/2018/695.pdf). It may also help to differentiate the techniques that we use from

[2019-02-12 16:53] alxdavids opened #16 "Add batched proofs for multiple client inputs"
The draft currently only covers DLEQ proof generation for input query from the client. It would be good to integrate the batching mechanism that we use in Privacy Pass when the client makes n>1 input queries.

[2019-02-12 16:57] alxdavids opened #17 "DLEQ_Generate should take the secret key as an input"

[2019-02-12 19:48] grittygrease commented on #15
I'm on board.

[2019-02-12 19:52] chris-wood commented on #15
👍 sounds great!

[2019-02-13 14:26] chris-wood commented on #17
Fixed in #18.

[2019-02-13 14:26] #17 closed

[2019-02-13 14:26] chris-wood commented on #15
@alxdavids do you think you'll be able to do this before Prague?

[2019-02-13 14:30] alxdavids commented on #15
Yeah I think it would be good to get the changes in before then, so I'm happy to aim for that.

[2019-02-22 15:50] alxdavids commented on #6
@chris-wood I was planning to add the DLEQ test vectors as part of the work that I am doing and I was wondering how exactly SHA-512 is used for curves P-384 and P-256 (and likewise SHA-256 for P-384 and P-512)? If I'm not mistaken, if you just take the hash output mod p then this will be biased, or am I missing something?

Also do you happen to have the code that you used to generate these?

[2019-02-22 16:39] chris-wood commented on #6
Yeah, I'll add you to the repository.

[2019-02-26 17:27] chris-wood opened #20 "Rename document to draft-davidson-cfrg-oprf?"

[2019-02-27 11:41] alxdavids commented on #16
Done

[2019-02-27 11:41] #16 closed

[2019-02-27 11:41] alxdavids commented on #15
DOne

[2019-02-27 11:41] #15 closed

[2019-03-06 14:19] alxdavids commented on #6
Think this is done now so I am going to close it.

[2019-03-06 14:19] #6 closed

[2019-03-06 16:50] chris-wood commented on #6
Works for me!

[2019-03-22 21:54] armfazh opened #27 "nit on reduction modulo p"
At section 5.1.  DLEQ_Generate
[code]
It must be reduced modulo the order of the curve.

[2019-03-22 22:05] armfazh commented on #27
At Section 5.1.  DLEQ_Generate,
[code]
and Section 5.2.  DLEQ_Verify:
[code]
must be reduced modulo the order of the curve.

[2019-07-04 01:22] chris-wood commented on #20
The ship has sailed!

[2019-07-04 01:22] #20 closed

[2019-07-04 08:30] alxdavids opened #28 "Replace additive vs multiplicative blinding terminology"
From Hugo:
[code]
i.e. we should replace additive blinding with FBB, and multiplicative with VBB.

[2019-07-04 08:49] alxdavids opened #29 "Certified public key"
In our protocol, the public key is `(G, Y)` where `Y = kG` for the Server's key `k`.

From Hugo:

[code]

So I think the way to resolve this is to either specify that `Y` is certified in the additive case, or we could include `Y` in the hash (i.e. compute `H(x,Y,H1(x)^k)`). It's true that we don't need to do this in the multiplicative case so maybe including in the hash is overkill, and we should

[2019-07-04 08:49] alxdavids opened #30 "Correct sections"
Hugo noted that some of the Sections are incorrectly labelled.

[2019-07-04 08:52] alxdavids opened #31 "Clarify RSA blind signature scheme in intro"
From Hugo:

[code]

Maybe we should just remove this section, it's probably not that helpful anyway?

[2019-07-04 08:56] alxdavids opened #32 "Clean up security properties for OPRF"
The pseudorandomness of the function dictates that it is unlinkable and non-malleable, so we can remove these properties. There are some other things that Hugo brought up:

[code]

[code]

[code]

[code]

[code]

[2019-07-04 08:59] alxdavids opened #33 "Clarify generator description"
We should clarify whether the generator `G` is fixed as part of the parameters of the group `GG`, or whether it is sampled randomly is specified as part of the OPRFs parameters. I would prefer the first.

[2019-07-04 09:02] alxdavids opened #34 "OPRF_Sign -> OPRF_Eval"
It may be more accurate to replace "signing" terminology with "evaluation". Signing is asymmetric terminology and so this may be confusing, since (V)OPRFs are essentially symmetric primitives.

From Hugo:

[code]

[2019-07-04 09:08] alxdavids opened #35 "Minor comments from Hugo"
Fix the following:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2019-07-04 09:09] alxdavids opened #36 "Replace PRNG with RO for batched proof"
As Hugo notes:
[code]
I think it will be easiest to introduce an additional RO `H_4` that handles the generation of `d1,...,d4` here.

We would also need to clarify the best instantiations for doing this, it may be that we stick with SHAKE-SHA256 and HKDF-Expand-SHA256 (this should also be clarified as we currently just say HKDF-256). The notion of the `salt` should be replaced with a domain separ

[2019-07-04 09:16] alxdavids opened #37 "Fix OPRF password applications"
From Hugo:
[code]

[2019-07-05 13:36] #37 closed

[2019-07-05 13:45] #28 closed

[2019-07-05 13:46] #34 closed

[2019-07-05 13:51] #33 closed

[2019-07-08 10:29] alxdavids commented on #29
I'm not sure what the best way to tackle this is? It seems like quite an involved change and so maybe we should keep this open for a future issue?

[2019-07-08 13:00] #30 closed

[2019-07-08 13:06] #31 closed

[2019-07-08 13:18] #36 closed

[2019-07-08 13:43] #35 closed

[2019-07-08 16:51] #32 closed

[2019-09-27 15:27] alxdavids opened #50 "Add to security considerations"
- We need to discuss the effectiveness of using OPRFs as an oracle for producing q-Strong-DH samples
- Go into more depth on key rotation and how it can be used to prevent token hoarding
- Discuss the impact on client privacy from having small or segregated user bases

[2019-09-30 12:48] alxdavids opened #51 "Create new test vectors"
- OPRF evaluations for new ciphersuites
- DLEQ evaluations
- Batched DLEQ evaluations

[2019-09-30 13:01] alxdavids opened #52 "Establish new ciphersuites"
Since OPRFs can be used to instantiate q-Strong-DH oracles, they are susceptible to attacks that reduce security by log_2(m), where m is the number of queries.

We should establish new ciphersuites that use underlying curves with > 128 bits of security (e.g. using Curve448) to protect against these attacks. Proposed ciphersuites:

P384:
[code]

Curve448:
[code]

P521:
[code]

[2019-09-30 13:06] alxdavids opened #53 "Domain separation"
We should add a section that provides clarity on the domain separation interface and how it is introduced to the OPRF.

[2019-09-30 13:12] alxdavids opened #54 "Protocol integration"
We should add a section that discusses the OPRF API that should be used when using OPRFs as part of another protocol. We should present both descriptions and suggestions around how the functionality should be integrated.

[2019-10-04 15:31] alxdavids opened #56 "Better specification of batched DLEQ proof algorithm"
We need to specify the random oracle instantiation in Section 6.3 more concretely.

[2019-10-08 16:17] alxdavids opened #58 "Allow specifying auxiliary data in OPRF_Finalize"
We should modify the OPRF_Finalize procedure to run:

[code]

where aux is arbitrary auxiliary data that is also stored by the client. This is closer to current implementations of the Privacy Pass protocol and likely to be useful in applications where there is a later redemption step that needs to be bound to specific request data.

[2019-11-14 17:33] #56 closed

[2019-11-14 17:34] alxdavids commented on #54
This was addressed in https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/57

[2019-11-14 17:34] #54 closed

[2019-11-14 17:34] alxdavids commented on #58
addressed in https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/60

[2019-11-14 17:34] #58 closed

[2019-11-14 17:34] #52 closed

[2019-11-14 17:34] #50 closed

[2020-01-03 15:27] alxdavids opened #62 "Batched algorithms for blinding/unblinding"
We need to concretely lay out the modified versions of VOPRF_Blind and VOPRF_Unblind in the batched execution mode. We should also provide better instructions for modifying the protocol in Section 5.3.3.

[2020-01-28 16:20] alxdavids commented on #51
I've written a proof-of-concept implementation of draft-02 in Go here: https://github.com/alxdavids/voprf-poc. I can use this to generate test vectors for all of the different cases.

[2020-01-30 17:51] #27 closed

[2020-02-07 17:45] alxdavids opened #66 "Fix sampling of DLEQ challenge"
The sampling of the DLEQ challenge value (c) is currently performed as the output of a SHA-512 evaluation for all supported ciphersuites. However, in the case of P-521, this is incorrect, as the size of the field is 521 bits.

We should update the draft specification to output this challenge as the output of an HKDF-Expand so that we can expand the output arbirtarily to the required number of byte

[2020-02-07 18:30] armfazh commented on #66
A similar discussion is currently running in the hash-to-curve draft. In there, the hash-to-field function is being designed.

https://github.com/cfrg/draft-irtf-cfrg-hash-to-curve/issues/202

[2020-02-10 11:40] alxdavids commented on #66
@armfazh It would be good to get consensus on the best approach once the discussion is concluded.

[2020-03-01 21:14] #62 closed

[2020-03-03 10:41] #66 closed

[2020-03-05 22:48] chris-wood commented on #29
Sorry for the extreme delay, @alxdavids! I think including `Y` in the hash is a fine path forward. Even in the (non-verifiable) OPRF case, it seems strange to not include some representation of the server's public key. Can we do that?

[2020-03-06 11:24] #53 closed

[2020-03-06 11:25] alxdavids commented on #29
Sure, that sounds fine to me. I'll write up the change.

[2020-03-09 12:25] #29 closed

[2020-04-29 23:05] chris-wood opened #76 "Improve VOPRF API"
PrivacyPass, for example, requires clients to run Setup() and use its results, somehow. There isn't currently a clean API one can use for operating on this private key. We should spend some time here to make integration into other protocols simpler.

[2020-05-08 21:37] chris-wood opened #77 "Specify Serialize/Deserialize APIs"
This will make integration in PrivacyPass (and elsewhere) much easier. For example, rather than say "parse these opaque bytes and turn them into curve points," for example, we can say "element = Deserialize(bytes)." In general, the more we can hide curve details from higher-level documents, the better.

[2020-05-28 23:44] armfazh opened #79 "Specify domain-separated hashes"
By following the recommendations given in the hash to curve draft, this draft must specify how to domain-separate all the hash functions required.

[2020-05-29 00:31] armfazh opened #80 "Unifies the name of actors V and P to longer names"
V and P refer to the participants of a zero-knowledge proofs. Consider give a more familiar name to this actors, Verifier/Prover, Victor/Peggy

[2020-05-29 00:34] armfazh opened #81 "Improve group properties and descriptions"
This document requires the use of prime-order groups.
The document does not emphasize how to generate these groups nor how to choose them between some existing groups.

[2020-05-29 00:36] armfazh opened #82 "Key Generation for Prover"
Currently, the Prover's key `k` is calculated during the Setup phase.
Usually, the setup phase happens in a public environment.
Then, there is required a GenerateKey step only for the Prover.

[2020-05-29 00:39] armfazh opened #83 "aux additional data"
If the only purpose of `aux` additional info is to provide domain separation, then this can be re-engineered and unified together with the other hash functions. Related #79

[2020-05-29 00:43] armfazh opened #84 "Define parameters based on the security parameter"
Define group parameters based on the security parameter.

[2020-05-29 00:47] armfazh commented on #77
Agree, each group must specify how to encode/decode group elements into binary strings.

[2020-05-29 00:49] armfazh opened #85 "Unify DLEQ for n>=1 or n>=0."
I was curious if there is a way to unify the description of DLEQ for n>=1, or even for n>=0.
If this will be possible, we end up with a single set of algorithms, so a shorter description.

[2020-05-29 00:59] armfazh opened #86 "Allowing blinding variants?"
the document mentioned two blinding methods: rH1(x) and rG+H1(x).
However, it wasn't mentioned which one to use at suite level.

[2020-05-29 10:58] alxdavids commented on #85
We could unify the algorithms, but the specific DLEQ algorithm for n=1 is much more efficient than running batched DLEQ for n>=1. So it depends if we want to preserve that efficiency in the n=1 case. I agree that unifying for simplicity's sake would be nice.

[2020-05-29 11:01] alxdavids opened #87 "Replace mention of security parameter with ciphersuite ID"
Currently the Setup algorithm takes a security parameter as input indicating the size of the group that is used. We should replace this with an identifier indicating which ciphersuite to use.

[2020-05-29 11:04] alxdavids commented on #81
Also need to remove all elliptic-curve specific notation outside of ciphersuite specification and recommendations for instantiating a prime-order group.

[2020-05-29 11:07] alxdavids opened #88 "Remove OPRF Setup phase of protocol"
Just mention that the server should run whatever it needs to and then publishes the results publicly.

[2020-05-29 18:04] armfazh commented on #85
One way to unify is avoiding the calculation of the scalar multiplication by c1.

[2020-06-01 12:38] alxdavids commented on #85
Hmmm good idea, we could also just set `c1 = 1` in the n=1 case. Let me investigate further.

[2020-06-01 15:09] chris-wood opened #89 "Finalize is underspecified"
Finalize uses `H_2` like so:

[code]

The reference implementation basically uses `DST` as a keyed hash, yet we define it as a hash function. Maybe we should just say this is a PRF, and then concretely say it's HMAC-H (with H depending on the suite) keyed by `DST`? (That works fine for HMAC as it's a dualPRF, but perhaps not other PRFs, so I might suggest swapping the input orders.)

Also, for wha

[2020-06-01 15:21] chris-wood commented on #86
@armfazh is that something we need to bake into a suite? I'm not so sure. It seems like an implementation detail to me.

[2020-06-01 16:52] armfazh commented on #86
My understanding is that defining a suite implies test vectors, which implies that everyone must follow the same procedure.
So, almost every variant in the construction introduces a parameter in the suite.

[2020-06-01 17:08] armfazh commented on #89
_Originally posted by @chris-wood in https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/78_

[2020-06-01 17:08] armfazh commented on #83
_Originally posted by @chris-wood in https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/78_
Should we unify around DST instead of `aux`?

[2020-06-01 17:10] armfazh opened #90 "Consider to add a table of groups and their parameters"
_Originally posted by @chris-wood in https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/78_

Should we include a table that lists the group (name) and its parameters, e.g., the generator, base field prime order, etc.?

[2020-06-02 14:30] alxdavids commented on #84
I would like to remove mention of the security parameter altogether.

[2020-06-02 14:47] alxdavids commented on #86
The test vectors for the output of the protocol do not depend on the blinding method. However, the test vectors for the proof values will be different as they are evaluated over whatever the client sends.

I would rather not state the blinding method as part of the suite though. I think it may be better to also implement fixed-base blinding as part of the suite, and then specify proof values for b

[2020-06-02 14:49] alxdavids commented on #83
I think we need multiple DSTs. One for the DLEQ proof generation, and then `aux`. However, I think capturing all DST usages under a specific set of guidelines makes sense. The only difference is that Finalize depends on client properties, where as the DLEQ DST should probably be fixed (to something VOPRF ciphersuite-specific) so that the client & server are in agreement.

[2020-06-02 14:58] alxdavids commented on #80
I think expanding to their full titles is fine. I'm personally against using human names for protocol participants, but I'm willing to reconsider if it is believed that is a much better way of representing them.

[2020-06-02 14:59] alxdavids commented on #76
I think this is likely to be addressed in #91

[2020-06-02 17:15] armfazh commented on #86
That means the proof must encode which blinding is used ?

[2020-06-02 17:26] armfazh commented on #84
Curious to see these changes.

[2020-06-03 10:03] alxdavids commented on #83
Assigning to @chris-wood to do as it is related to #89

[2020-06-03 10:03] alxdavids commented on #79
Seems related to #89 and #83, @chris-wood would you be able to take this one as well?

[2020-06-03 10:05] alxdavids commented on #86
(originally thought that I had replied by email, but it seems that it didn't make it here)

No, the proof test vector values will change because the client inputs will change.

[2020-06-03 17:29] armfazh commented on #86
I got it now. The blinding method is orthogonal to the suite used.

[2020-06-04 20:06] chris-wood opened #94 "Use consistent casing"
https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/91#discussion_r435514276

[2020-06-04 20:07] chris-wood opened #95 "Do not require serialization when publishing keys"
https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/91#discussion_r435516340

[2020-06-04 20:08] #77 closed

[2020-06-04 20:08] #81 closed

[2020-06-04 20:08] #85 closed

[2020-06-04 20:08] #82 closed

[2020-06-04 20:08] #88 closed

[2020-06-04 20:43] chris-wood commented on #76
OPAQUE needs the following APIs:

- GenerateScalar()
- Blind(x)
- Evaluate(k, M)
- Unblind(r, Z)
- Finalize(x, N, dst)
- Serialize(x)
- Decode(enc)

We don't have GenerateScalar(). I'll add that.

[2020-06-05 14:13] #80 closed

[2020-06-05 14:35] #87 closed

[2020-06-05 14:35] #84 closed

[2020-06-16 14:20] alxdavids opened #100 "Add prime-order group instantiation advice for ciphersuites"

[2020-06-16 14:50] alxdavids opened #101 "Compressed or uncompressed point encoding?"
Should we support both, or just one?

[2020-06-16 15:04] chris-wood commented on #101
Let's pick only one per ciphersuite, and let's be consistent across ciphersuites. I prefer the uncompressed format, if only because that's what other standards tend to use (TLS, HPKE, etc).

[2020-06-17 13:34] chris-wood opened #103 "Add verifiable support to Sage PoC"
I'm not sure if we should also include batch support. @alxdavids, what do you think?

[2020-06-17 15:26] alxdavids commented on #103
I think it would make sense to have batch support in there because the algorithms have been consolidated into a single description now

[2020-06-18 14:08] alxdavids commented on #101
We'll go with compressed based on conversation, will change sage serialization code.

[2020-06-18 14:17] #95 closed

[2020-06-18 14:22] alxdavids commented on #89
This was done #97

[2020-06-18 14:22] #89 closed

[2020-06-18 14:23] alxdavids commented on #86
Okay, I'm going to close this as its an implementation detail.

[2020-06-18 14:23] #86 closed

[2020-06-18 14:24] alxdavids commented on #83
Done: #102

[2020-06-18 14:24] #83 closed

[2020-06-18 14:25] alxdavids commented on #79
We need to make sure the hashes are handled correctly for the proof cases

[2020-06-19 11:43] alxdavids commented on #76
Would there be any room in OPAQUE to rename `GenerateKeyPair` to `KeyGen`? This is mostly because I think this is a nicer name, so no worries if not.

[2020-06-19 14:52] chris-wood commented on #76
Yeah, that works for me.

[2020-06-19 15:25] alxdavids commented on #90
@chris-wood This is actually going to be pretty difficult due to the trade-offs that can be chosen with the static DH oracle. Essentially, due to Brown-Gallant & Cheon the strength of breaking DLP is:
![image](https://user-images.githubusercontent.com/7470539/85149143-db02ba80-b248-11ea-9921-d816bde109aa.png)
(taken from Section 21.5 of https://www.math.auckland.ac.nz/~sgal018/crypto-book/main.pdf

[2020-06-19 15:35] alxdavids commented on #90
FWIW, I think this could be a separate CFRG draft

[2020-06-19 15:37] #94 closed

[2020-06-19 15:39] chris-wood commented on #90
That's an interesting idea -- is this something you and Taylor could work on?

[2020-06-19 15:41] chris-wood commented on #90
I don't think I visualize the table yet, so I can't speak to its supposed complexity, but you do make a compelling argument against it :-) How about we just keep the static DH oracle section separate and point to it from the ciphersuite section? That is, each ciphersuite could list the effective security level in the absence of these oracles, but then we point to another section which explains the

[2020-06-19 15:44] alxdavids commented on #90
I think that's something I can definitely explore.

Yeah I think that will probably be the best approach. I'll write a candidate PR.

[2020-06-19 16:14] #101 closed

[2020-06-19 21:48] armfazh commented on #90
Well, let's keep it simple. The purpose of listing the groups is to have a clear vision of all the parameters involved. Listing the security level is probably not required. We are adopting state-of-the-art group instances with well-known security bounds.

I think Section 7.1.4 gives a good explantion of security levels without going into the details.

[2020-06-19 21:55] armfazh opened #109 "Deserialization can fail"
Warn the reader that deserialization can return error if the input bytes does not correspond to a valid group element.

[2020-06-19 22:01] armfazh opened #110 "Unifying pseudo-code style"
1 ) There are many functions following an object-oriented design, I don't know if this helps as the only "object" is GG.

2) The style of pseudo-code is sometimes python, other times Go/rust, I consider is better to use C-style pseudo-code.

3) Enumeration of substeps, for example:

[code]

[2020-06-19 22:09] armfazh opened #111 "The field of scalars can be confused with the field of elliptic curve defiinition."
The field of scalars can be confused with the field of elliptic curve defiinition.

On the one hand, this happens because the document uses the notation GF(p) for the set of possible scalars that is the same for elliptic curve field definition. The document is correct, however this is a source of consfusion for those not familiar with the math behind groups and curves.

One possible way to solve t

[2020-06-19 22:12] armfazh opened #112 "use endianness definition"
Sometimes it is used network-byte order. A better way to describe ordering is using little- and big-endian. Note that in the ciphersuite section LE and BE are used instead of network-byte order.

[2020-06-19 22:14] armfazh opened #113 "Bits indicating verifiablity support"
I think the bits are not required since they come from the ciphersuite definition, so they are constant domain parameters.

[2020-06-19 22:15] armfazh opened #114 "Unify between sequence of bytes, array of bytes, byte arrays"
Unify between sequence of bytes, array of bytes, byte arrays

[2020-06-19 22:17] armfazh opened #115 "Section 4.3 uses undefined values"
Section 4.3 is difficult to understand as there are many undefined variables. The protocol data-flow looks clean and simple, however there are many variables that are not stated its purpose nor its domain.

[2020-06-19 22:18] armfazh opened #116 "Definition of H2"
H2 might be better defined as H2(x) = OS2IP(H(x)) mod p.
This avoids rejection sampling on Section 5.3

[2020-06-22 07:40] alxdavids commented on #116
Doesn't this introduce bias if you get a value that's greater than p?

[2020-06-22 08:25] #76 closed

[2020-06-22 08:40] alxdavids commented on #115
Do you mean in the diagram? This is all explained in the following section. I guess we could move the protocol to after the algorithm descriptions though? What do you think @chris-wood? I personally prefer to have it this way around to put more emphasis on the protocol data flow and not worry so much about the algorithm implementation.

[2020-06-22 08:40] alxdavids commented on #114
Let's go with byte arrays

[2020-06-22 08:42] alxdavids commented on #113
This is true, but I think we'll need to then pass around ciphersuite identifiers into the algorithms so we can check this?

[2020-06-22 08:50] alxdavids commented on #113
Okay I've just removed them and replaced with a global `verifiable` variable

[2020-06-22 09:01] alxdavids commented on #110
Would you be able to highlight some particular examples for where you are thinking things should change? It's not exactly clear to me what you are referring to with these points? FWIW, I'm not super worried about the pseudocode at the moment, I think it's clear enough.

[2020-06-22 09:02] alxdavids commented on #109
Not sure we need this caveat because SEC1/RFC7748 defines the correct syntax for serialization. If you deviate from this syntax then you're not compliant. What do you think @chris-wood?

[2020-06-22 14:54] #79 closed

[2020-06-22 15:41] #112 closed

[2020-06-22 15:42] #113 closed

[2020-06-22 16:28] #114 closed

[2020-06-22 16:30] #111 closed

[2020-06-22 16:41] chris-wood commented on #116
We should just use hash-to-field from the hash-to-curve document (for all groups considered). I don't see why we'd reinvent the wheel here. :-)

[2020-06-22 16:41] chris-wood commented on #115
I agree -- I think having the protocol flow abstraction up front helps.

[2020-06-22 18:13] armfazh commented on #110
This issue is not one of the higher relevance, but still it could be difficult to grasp for someone who never coded in modern languages. It's is desired that specification be easy to read for anyone.

Loops
``` 3. for i = 0 to m:```  vs ``` 2. for i in 1..m:```

The first is go/rust syntax, while the second one is more similar to C structs.
`Ev = Evaluation{ elements: elements }` and `2. Ev.proof

[2020-06-22 18:15] armfazh commented on #109
I think what is missing is alerting the reader/implementor that deserialization can fail, and if this happen, the protocol cannot continue.

[2020-06-22 18:33] armfazh commented on #114
`byte arrays` is singular or plural?

[2020-06-22 18:45] armfazh commented on #116
Agree

[2020-06-22 23:00] chris-wood commented on #110
The change in #122 makes an attempt at clarity.

[2020-06-23 08:38] alxdavids commented on #115
Okay, let's leave it as it is for now.

[2020-06-23 08:38] #115 closed

[2020-06-23 08:40] alxdavids commented on #109
I take it to mean, if you're not compliant with everything in the doc (including refs), then the protocol will fail. In my opinion, this can be left implicit.

[2020-06-23 09:29] alxdavids commented on #90
This will be fixed in #121

[2020-06-24 08:41] #100 closed

[2020-06-24 08:42] alxdavids commented on #90
#121 was merged, so I don't think we have to worry any more about this.

[2020-06-24 08:42] #90 closed

[2020-06-24 08:55] #109 closed

[2020-06-25 12:59] #116 closed

[2020-06-25 12:59] #110 closed

[2020-06-25 19:42] armfazh opened #124 "Inconsistencies in Evaluate pseudo-code"
https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/73492d2727115a7591a3d340e31f0565465348a7/draft-irtf-cfrg-voprf.md#L662-L675

1) Why `Ev` is passed as input to `Evaluate`?
2) Why `Ev` is passed to `generate_proof`, if it wasn't constructed yet?

[2020-06-25 21:17] armfazh opened #126 "Undefined x variable"
What is `x` in these functions?

https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/73492d2727115a7591a3d340e31f0565465348a7/draft-irtf-cfrg-voprf.md#L784-L786

https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/73492d2727115a7591a3d340e31f0565465348a7/draft-irtf-cfrg-voprf.md#L1415-L1417

[2020-06-25 21:51] chris-wood commented on #124
Good catch - it shouldn't be. Can you please remove that in your PR?

[2020-06-25 22:20] armfazh commented on #124
Ok, I can work on that fix.

[2020-06-26 08:38] alxdavids commented on #126
Should be `inputs[i]`

[2020-06-26 11:29] #124 closed

[2020-06-26 13:57] chris-wood commented on #126
I fixed this with a direct push to master.

[2020-06-26 13:57] #126 closed

[2020-07-14 19:26] armfazh opened #133 "Optimization of ComputeComposites at server-side."
The following is an optimization for `ComputeComposites` function when
executed at the server-side. The savings reduce by half the number of
scalar multiplications (group exponentiations).

Full details at https://mailarchive.ietf.org/arch/msg/cfrg/dt8TUtTD-JVgVxjpEL9lz5wUTb8/

[2020-08-06 22:59] tatianab opened #135 "Add implementation details for HashToScalar"
Expand on bullet point about HashToScalar function, including required security properties (if any) and pointers to example implementation details

[2020-08-07 17:01] #103 closed

[2020-08-18 23:30] chris-wood commented on #135
@armfazh, can you please take this one?

[2020-08-31 07:15] armfazh opened #139 "Include SerializedScalar type"
There is a distinction between group elements (a point on the curve) and serialized elements (its compact representation).
Analogously, we can refer as SerializedScalar to the short (mod p) representation of an integer scalar.

todo(armfazh): I can create a PR to the draft for this request.

[2020-08-31 14:59] chris-wood commented on #139
I'm not sure I see the benefit of having this type, but let's see what the PR looks like.

[2020-09-06 20:46] stef opened #140 "Please consider renaming Evaluate() to Contribute()"
`Contribute` describes the semantics better than the generic `Evaluate` name.

see the discussion here: https://github.com/cfrg/draft-irtf-cfrg-opaque/issues/53

[2020-09-09 10:35] alxdavids commented on #140
Hi @stef, thanks for bringing this up. I've taken a look at the discussion. I'm not massively supportive of renaming the Server's participation to `Contribute`. I can see what you mean, because this is a protocol that both participants combine to evaluate a PRF. However, theoretically-speaking, it's the Server that essentially computes the underlying PRF itself. The client specifies an input and t

[2020-09-09 10:36] alxdavids commented on #139
I'm also not sure that we need this, I think we can move between the representations without being too descriptive for scalars.

[2020-09-09 10:39] #135 closed

[2020-09-10 18:53] armfazh commented on #139
After thinking more on it, it's not necessary.

[2020-09-10 18:53] #139 closed

[2020-09-14 13:03] chris-wood commented on #140
@stef can you please bring this to the list? I could see changing the name if we were to support threshold OPRFs, for example. But as it stands now, to me, `Contribute` does not better describe the semantics than `Evaluate`, for the reasons that Alex states.

[2020-09-14 19:47] stef commented on #140
which list, is there a dedicated list for this proposal or the big cfrg list?

[2020-09-15 00:36] chris-wood commented on #140
The CFRG list! :)

[2020-09-16 13:35] stef commented on #140
although i subscribed to the list, before writing to it i reviewed the academic literature and i apologize for making this noise.

[2020-09-16 13:35] #140 closed

[2020-09-23 20:03] davidben opened #142 "Ciphersuite section should cite standard curve generators and orders"
Section 4 defines various ciphersuites using standard curves, but it specifies the generator and order explicitly. The values are (modulo the issue below) always the standard one, as they should be. But from reading the draft you might not realize this and miss that you can reuse your existing base-point-specific optimizations. Instead, since curves are always specified and implemented with a stan

[2020-09-23 21:22] davidben opened #143 "Use a draft-specific placeholder DST string"
If folks deploy experimental systems using VOPRF drafts, the fact that the DST uses "RFCXXXX" might break domain separation between drafts. HPKE used to use the same placeholder but switched to "HPKE-05", etc., with an RFC editor note:

See https://github.com/cfrg/draft-irtf-cfrg-hpke/pull/138.

Perhaps VOPRF should do something similar here.

[2020-09-24 01:25] armfazh commented on #142
The correct generator point for curve25519 is the one reported in the errata report.
https://www.rfc-editor.org/errata/eid4730
So, the v (or y) coordinate is even.

[2020-09-24 01:46] davidben commented on #142
Ah! The joys of immutable RFCs. :-(

[2020-09-24 16:37] davidben opened #144 "Pre-rendered editor's copy out-of-date?"
The README links to https://cfrg.github.io/draft-irtf-cfrg-voprf/draft-irtf-cfrg-voprf.html, but that seems to not match the md file in the repository.

[2020-09-24 16:40] davidben opened #145 "Cite TLS presentation language"
The Data Structures section includes a bunch of structures in what appear to be TLS presentation language. I assume this is intended to define serializations. That should probably cite RFC8446, which defines the syntax.

[2020-09-25 13:52] davidben opened #146 "hashInput in Finalize and VerifyFinalize missing I2OSP calls"
hashInput in Finalize and VerifyFinalize is computed as:

[code]

But the lengths are integers, not byte strings. I assume this was intended to say `I2OSP(len(...), ???)`. Given h1Input is also passed directly to Hash in ComputeComposites, I guess the lengths should all be two bytes, to be consistent.

[code]

Though it's worth noting that injectivity here depends on the DSTs being suffix-free, or

[2020-09-25 18:17] davidben opened #147 "Necessary to serialize generator?"
GenerateProof incorporates `gen = GG.Serialize(G)` into the HashToScalar call, but the context string already includes the cipher suite ID, which covers all the common parameters, notably the generator. It seems to me that can be omitted.

[2020-09-25 18:27] davidben opened #148 "Assuming numbers are big-endian"
Section 2.2 has two bullet points:

The second bullet point makes sense. When converting to and from byte array, you need to specify the endianness. I'm not sure what the first point means at all. Does the draft ever care about the in-memory representation of numbers? It needs to be explicit about I2OSP, etc., anyway to capture lengths (see #145 and #146), at which point I don't think how the numb

[2020-09-28 17:46] #145 closed

[2020-09-29 00:04] claucece commented on #147
Mmm.. while true that through that the context string contains the suite.ID, this is only an id value, although it indeed recognises the suite. But I don't think the generator was included as a parameter for `HashToScalar` to recognise the suite, but rather to differentiate the hash.

I'm not sure why it was historically introduced.. maybe @chris-wood , @alxdavids or @armfazh will know.

[2020-09-29 00:10] claucece commented on #146
Yes, I agree on this. I see no place, also, where a different length will be used other than `I2OSP(len(x), 2)`

[2020-09-29 00:11] claucece commented on #143
Agreed. Should it be changed @chris-wood ?

[2020-09-29 00:14] davidben commented on #147
Right, I thought all that needed there was for different suites' hash invocations to use different inputs. The suite is identified by ID, which is hashed, and the generator is specified by the suite, so it seems the generator is covered.

(Disclaimer: I don't actually know how the formal analyses work, so my intuition could just be totally wrong. :-) )

[2020-09-29 00:44] claucece opened #151 "Can we remove the 'Addition' field on every ciphersuite?"
The 'Addition' field on every ciphersuite is always the same:

[code]

we could perhaps remove it, as it is generally defined on the preliminaries.

[2020-09-29 01:46] claucece opened #152 "Correctly define the Scalar multiplication field for all cipher-suites"
Currently, only the `P-384`, `P-521` and `P-256` have the Scalar multiplication field defined. Might be good to expand this to 25519 and 448, specially, as they refer to RFC7748, which X25519 and X448 cannot be used for this draft, as they return only one of the coordinates.

[2020-09-29 14:31] alxdavids commented on #143
This changes makes sense to me.

[2020-09-29 14:32] alxdavids commented on #151
Yeah, we should refactor this out as a common operator for each ciphersuite

[2020-09-29 15:00] claucece opened #153 "How and when should the public key be generated?"
While it is easy to assume how and when the public key is generated, there is no place in the draft that states so. Must be good to include its generation on the setup functions.

[2020-09-29 15:03] claucece commented on #153
it should probably be included here:

[code]

[2020-09-29 18:12] tomrist opened #154 "Consider adding a FullEvaluate() to Server Context API"
Some applications will need to compute the full PRF on the server side, e.g., to precompute a bunch of OPRF outputs for use in private set intersection protocols. Can we consider adding to the server context API a FullEvaluate, along lines of:

Input:

  ClientInput input
  opaque info<1..2^16-1>
  PrivateKey skS
  PublicKey pkS

Output:

  opaque output<1..2^16-1>

def FullEvaluate(input, info, s

[2020-10-02 14:24] chris-wood opened #155 "Clarify HashToScalar"
HashToScalar points to hash-to-field, but we should specify the modulus. See the relevant text in the draft:

[2020-10-08 14:19] claucece opened #157 "Clarify the serialization to be used"
Specially, the tag to be used.

[2020-10-08 15:56] armfazh commented on #157
I think this is implementation-dependant. most implementations follow ANSI X9.62.

[2020-10-16 13:32] claucece commented on #51
So, I think probably the POC in sage can generate the test vectors; but it needs some changes.

[2020-10-16 13:35] claucece opened #159 "Avoid making the test vectors random at every run"

[2020-10-16 14:00] chris-wood commented on #146
I fixed this directly on master.

[2020-10-16 14:00] #146 closed

[2020-10-16 17:28] armfazh commented on #147
According to the specification [link](https://github.com/privacypass/challenge-bypass-extension/blob/master/docs/PROTOCOL.md#nizk-proofs-of-discrete-log-equality), the pair (G,Y) must be maintained.

[2020-10-16 19:45] davidben commented on #147
Isn't that just a question of whether you believe the pre-agreed parameters are GG or (GG, G). If you believe even GG weren't pre-agreed, I imagine H_3 would need to pass the group in. And when we give a name to an EC group, it typically comes with a pre-agreed generator.

Put another way, you could define H_3 from the specification as H_3(G,Y,M,Z,A',B') =
- If G == standard_G, return HashToScalar

[2020-10-17 16:05] #148 closed

[2020-10-17 16:06] #147 closed

[2020-10-17 16:09] #143 closed

[2020-10-18 19:19] claucece opened #163 "Specify the usage of decaf and ristretto"

[2020-10-18 19:31] claucece commented on #154
This should also be added to the POC.

[2020-10-18 19:33] claucece opened #164 "Change curve 25519 and curve 448 to ed25519 and ed448"
It should follow the parameters defined for the edwards curves, as defined in RFC7748.

This is kind of related to #142 and #163 (as it should specify the encoding to be used).

cc./ @armfazh @chris-wood

[2020-10-18 20:59] claucece opened #165 "Does the 'dst' for the HashToCurve func need to be different for each mode?"

[2020-10-19 14:12] chris-wood commented on #155
Relevant text from hash-to-curve:

[2020-10-19 16:23] chris-wood commented on #159
Fixed in #166.

[2020-10-19 16:23] #159 closed

[2020-10-20 00:31] chris-wood opened #168 "Allow server context creation with external key pair"
In some cases it's useful to use a pre-existing key pair for a server context. Currently, keys are generated inline (in SetupBaseServer, for example). We should fix that.

[2020-10-20 00:32] chris-wood commented on #164
We should close this and just move directly to ristretto255 and decaf448. @armfazh, please close if you agree!

[2020-10-20 00:35] chris-wood commented on #165
There are several ways we could achieve domain separation. For consistency with the other functions, I'd recommend augmenting the input to `HashToGroup` with a DST, e.g.:

[code]

[2020-10-20 07:05] armfazh commented on #164
agree, let's move forward with those groups

[2020-10-20 14:27] claucece commented on #133
I'll add this first to the POC to see that everything works nicely, and then add to the draft. I'll add the note here also that this is *only for the server side*.

[2020-10-21 13:51] claucece commented on #164
Sure thing. As a read in the current [draft](https://datatracker.ietf.org/doc/draft-irtf-cfrg-ristretto255-decaf448/),  ristretto255 is an instantiation of the abstract prime-order group Curve25519, and it is using it's order, as defined in RFC7748.
The base point is a base point (I think the ed25519 one) encoded in a Ristretto way: `e2f2ae0a 6abc4e71 a884a961 c500515f 58e30b6a a582dd8d b6a65945 e

[2020-10-21 13:52] claucece commented on #163
Copying this from #164:

Sure thing. As a read in the current draft, ristretto255 is an instantiation of the abstract prime-order group Curve25519, and it is using it's order, as defined in RFC7748.
The base point is a base point (I think the ed25519 one) encoded in a Ristretto way: e2f2ae0a 6abc4e71 a884a961 c500515f 58e30b6a a582dd8d b6a65945 e08d2d76, and internally using ed25519 operations for

[2020-10-21 13:52] claucece commented on #164
Closing this. See #163

[2020-10-21 13:52] #164 closed

[2020-10-21 13:53] claucece commented on #163
cc./ @armfazh @chris-wood

[2020-10-22 22:38] claucece commented on #153
This is solved now.

[2020-10-22 22:38] #153 closed

[2020-10-22 22:44] claucece commented on #157
Yeah. I agree on this. Closing it.

[2020-10-22 22:44] #157 closed

[2020-10-23 16:11] claucece commented on #165
Mmm.. on some of the functions, this make  some sense. In others, we can add:

[code]

but, the hash-to-group draft specifies a minimum of 16 bytes and that it is recommended that the suite id is included in the dst.

[code]

So, something like this can be used:

[code]

[2020-10-23 17:53] armfazh commented on #165
Let's step back for a second,
given a named suite, say e.g.  `id = "OPRF(P256,SHA256)" `

does this identifier considers the implementation of both verifiable and non-verifiable modes?

- if so,
 -- then the `dst` used for HashToGroup could be the concatenation of suite id and the mode.
- otherwise,
 -- `OPRF(P256,SHA256)` means only the non-verifiable mode, then we need a suite identifier for the

[2020-10-23 19:14] armfazh commented on #168
The purpose of Setup is to generate keys and domain parameters, and this should run once during the _offline_ phase of the protocol.
There is no inline generation during the _online_ phase of the protocol.Hence, I think the specification is right.

-- If needed, we could add a line saying: "users can use pre-existing keys provided that keys were generated using a compatible  procedure as the one d

[2020-10-23 19:20] chris-wood commented on #168
This is precisely the idea! It's definitely needed for OPAQUE.

[2020-10-26 19:03] #168 closed

[2020-10-26 19:03] #163 closed

[2020-10-26 19:03] #154 closed

[2020-10-26 19:03] #152 closed

[2020-10-26 19:04] #151 closed

[2020-10-26 19:04] chris-wood commented on #144
Should be fixed now!

[2020-10-26 19:04] #144 closed

[2020-10-26 19:06] chris-wood commented on #142
We removed the generator from the appendix altogether, so I think this is now resolved. @davidben, please reopen if that's not the case!

[2020-10-26 19:06] #142 closed

[2020-10-26 19:08] #155 closed

[2020-10-26 22:40] davidben commented on #142
Ah cool. And I see the curve25519 silliness is sidestepped with ristretto255. Although, a minor nitpick, I wonder if this went a step too far. Section 2.1 says to act on a prime-order group `GG`.  Then `ScalarBaseMult()` is defined to be the "repeated application of the group operation on the base point". But I thought a plain prime-order group usually doesn't have a well-defined base point or gen

[2020-10-26 23:07] chris-wood commented on #142
Yeah, every element is a generator, but ristretto255 pins one (the curve25519 base point):

[2020-10-27 00:09] davidben commented on #142
Right, I'm saying that section 2.1 doesn't seem to talk about there being a base point. Probably we want to define GG as a group plus a particular generator. Or something else.

(The ristretto comment was about the confusion about which base point is correct for curve25519. Hopefully ristretto is specified correctly.)

[2020-10-27 12:50] chris-wood commented on #142
Ah, gotcha. We can fix that.

[2020-10-27 16:25] grittygrease opened #171 "Submit new version for IETF 109"

[2020-10-28 12:34] #165 closed

[2020-10-28 17:28] armfazh opened #174 "update contributors"
the list of contributors overleaps with authors

[2020-11-02 17:49] chris-wood commented on #174
Updated directly in main.

[2020-11-02 17:49] #174 closed

[2020-11-02 21:14] armfazh opened #182 "KeyGen is not defined"
KeyGen is not defined

[2020-11-03 22:13] #182 closed

[2020-11-03 22:13] #171 closed

[2020-11-03 22:13] chris-wood commented on #133
@armfazh can you please send a PR with this change, and update the Sage implementation to match?

[2020-11-06 00:23] #133 closed

[2020-11-08 19:00] chris-wood opened #191 "Token data structure name is confusing"
This struct wraps up the OPRF blind and the input, for use by the `Unblind` and `Finalize` functions later on. We should consider renaming this to something that better reflects this purpose, e.g., `BlindContext`. (Token is a relic of Privacy Pass that we don't need to carry forward here.)

[2020-11-08 19:02] chris-wood opened #192 "ComputeComposite list encoding is incorrect"
`ComputeCompositesFast` (and `ComputeComposites`) currently does the following:

[code]

Note that `blindedElements` and `evaluatedElements` are both *lists* of elements, so encoding them in `h1input` as "length || value" isn't quite right, I think.

[2020-11-08 19:03] chris-wood opened #193 "BatchedEvaluation is unused"
Let's (preferably) use it or lose it.

[2020-11-08 19:08] chris-wood opened #194 "Move ciphersuite dependencies to the top of the document."
We currently use the Hash in the protocol description without first having adequately described it. We have a section describing the POG API, but the Hash dependency is not included. Let's refactor {#pog} to focus on *all* dependencies, including both the POG and Hash functions. (We should make sure this is consistent with the content in the ciphersuite section, too.)

[2020-11-09 03:33] claucece opened #195 "Issues in Additive mode"
When blinding in Additive mode, it says to store the blinded public key (which is a Point/Element) in the Token structure:

[code]

But the token structure is defined as taking a scalar, not a point/element as blinding element:

[code]

There also seems to be no need of storing the `preproc.blindedPublicKey` in `blind`.

[2020-11-09 03:48] claucece opened #196 "Scalar structure is not clearly defined"
The `Scalar` structure is first used on the `Data Structures` section, and not previously defined, and it is used as:
`Scalar blind<1..2^16-1>;`, which seems to imply this is the serialized scalar.

It is later defined as:
`This document uses the types Element and Scalar to denote elements of the group GG and its underlying scalar field GF(p), respectively.`, which seems to imply it is the underly

[2020-11-09 13:57] chris-wood commented on #195
Great catch! I don't think the additive section has been kept up to date very well. Let's revisit and address this issue soon.

[2020-11-09 13:59] chris-wood commented on #196
I think we should just say `Scalar` refers to an actual scalar element for the group. It seems the only time we need to serialize and send a scalar on the wire is for the proof, so we can have a `SerializedScalar` type (similar to `SerializedElement`) for that.

[2020-11-09 14:01] chris-wood opened #197 "Serialized elements and scalars should be fixed-length"
Currently, serialized things are variable length. There's no real reason they need to be variable length, and doing so just complicates implementations. Let's make them *both* fixed length.

[2020-11-09 17:37] armfazh commented on #196
Similar to #139

[2020-11-09 18:32] bytemare opened #198 "DST design"
Hello,

I have been following the project for some time now, and am trying to accompany this with an implementation: https://github.com/bytemare/voprf.

I have some questions regarding the draft and some decisions that have been taken. I'll start with these:

1. DST length
The DST used to instantiate hash-to-curve is constructed with "RFCXXXX-" + contextstring, where contextstring is 3 bytes ( mod

[2020-11-09 18:39] bytemare opened #199 "Blind in PreprocessedBlind"
Hello,

the blind element used for preprocessing is not used after generating the client's own public key (i.e. scalar multiplication with the generator/base point) and blinding the server public key, but is still contained within the PreprocessedBlind structure.

I suppose this is useful for debugging purposes, and thus implementation dependant. In this case, it might be useful to mention in the

[2020-11-09 19:31] bytemare commented on #192
Hi, I didn't see the issue up until I tried to implement it, indeed.

[2020-11-09 19:41] bytemare commented on #197
Hello,

doesn't the serialized length depend on the cipher suite they are from? p-256 and p-521 points don't have the same length when encoded.

[2020-11-09 19:43] chris-wood commented on #197
It does, yes. The fixed length would depend on the underlying group,

[2020-11-09 20:39] bytemare commented on #198
The length aspect has also been raised by @claucece in https://github.com/cfrg/draft-irtf-cfrg-voprf/issues/165, but the issue got closed without this point being addressed.

[2020-11-09 22:49] chris-wood commented on #191
Fixed in #190.

[2020-11-09 22:49] #191 closed

[2020-11-09 22:49] chris-wood commented on #194
Fixed in #190.

[2020-11-09 22:49] #194 closed

[2020-11-09 22:50] chris-wood commented on #197
Fixed in #190.

[2020-11-09 22:50] #197 closed

[2020-11-09 22:58] bytemare opened #200 "Change SHA-256 to SHA-512 for Ristretto255"
Hello,

in https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/72ad54bba21da719456d85d3a12304410f83448d/draft-irtf-cfrg-voprf.md#oprfristretto255-sha-256, it is specified to use SHA-256 with Ristretto255. SHA-256 outputs 32 bytes.

https://tools.ietf.org/html/draft-irtf-cfrg-ristretto255-decaf448-00#section-4.3.4 states that the one-way map operates on 64-byte strings.

The hash function to be used

[2020-11-09 23:35] chris-wood commented on #196
@claucece, can we close this now that #190 is merged?

[2020-11-09 23:39] chris-wood commented on #200
`expand_message_xmd` requires that the hash function H "number of bits output ... MUST be b >= 2 * k", where k is the target security parameter. For ristretto255, k is 128, so SHA256 suffices here. We don't need a larger hash function.

[2020-11-09 23:42] chris-wood commented on #199
Good catch :-) I removed this from the `Preprocess` output [here](https://github.com/cfrg/draft-irtf-cfrg-voprf/commit/87d42c249e83cce10a741e4a7bc96486e8b6cdf1). Closing as resolved!

[2020-11-09 23:42] #199 closed

[2020-11-09 23:42] chris-wood commented on #195
@claucece, I think this is resolved now that #190 is merged. Can you please confirm, and close if so?

[2020-11-09 23:43] bytemare opened #201 "Clarifications on BatchedEvaluation"
Hello,

reading the latest version of the draft, there are very few explanations about batching inputs/evaluations. For the reader unfamiliar with the subject it is not clear what these are about.

From what I understand from a conversation with @chris-wood:
the mechanism works in a situation where a client requests multiple evaluations and could do it by sending all blinded inputs at once. The se

[2020-11-09 23:44] chris-wood commented on #193
We lost it in #190. Closing.

[2020-11-09 23:44] #193 closed

[2020-11-10 00:12] jedisct1 commented on #200
Even if this is not a curve, Ristretto255 not being part of the recommended suites in the hash-to-curve document is indeed going to be very confusing.

Even more since the only ristretto255 example in this very document is `ristretto255_XMD:SHA-512_R255MAP_RO_`.

[2020-11-10 00:20] chris-wood commented on #200
@jedisct1 Are you suggesting we bump to SHA512? If so, why? (I understand that it doesn't match the example in hash-to-curve, so perhaps we should change that example to use SHA256.)

[2020-11-10 00:34] bytemare commented on #195
Getting rid of the Token structure altogether solves the issue, indeed 👍😃

[2020-11-10 00:35] #192 closed

[2020-11-10 00:46] jedisct1 commented on #200
ristretto255 is a natural extension for libraries implementing edwards25519, initially for the needs of Ed25519.

Using SHA512 allows sharing the same hash-to-field code for edwards25519 and ristretto255, and doesn't need to introduce another hash function, as SHA512 is already there, as a requirement for Ed25519.

[2020-11-10 00:48] chris-wood commented on #200
Oh, that's a great point! @alxdavids, what do you think? Hearing no objections, I'll change this tomorrow.

[2020-11-10 01:00] bytemare commented on #200
I agree with what @jedisct1 said. The natural candidate is SHA-512, and using this here would also contribute in greater consistency of general usage of Ristretto255.

[2020-11-10 01:01] chris-wood commented on #200
Sold :-) Let's move to SHA-512.

[2020-11-10 01:06] chris-wood commented on #200
The fix is in #203 -- please have a look!

[2020-11-10 01:41] armfazh commented on #198
The current DST for the HashToGroup function is:
[code]
Effectively, `DST` is short. Thanks for pointing this out.

----

To remedy, these issues I propose (in #204 ) to extend it as follows:
[code]

Now, let's see whether this proposal satisfy the requirements for a good DST:

From Section 3.1 of [draft-irtf-cfrg-hash-to-curve-10](https://tools.ietf.org/html/draft-irtf-cfrg-hash-to-curve-10#secti

[2020-11-10 01:49] #200 closed

[2020-11-10 13:37] chris-wood commented on #198
This should be fixed by #204, so I'm closing this as resolve. @bytemare, please re-open if you think more needs to be done!

[2020-11-10 13:37] #198 closed

[2020-11-10 14:29] bytemare commented on #198
Looks good to me!

As a note: I'm thinking about the usage in higher-level applications. When h2c says we should specify the app or protocol, does this apply to the one directly using the HashToGroup function?
Over time, default values (e.g. base mode with ristretto255) would tend to make usage of the same DST very common, even if the higher-level application is different. "PrivacyPass" or "OPAQUE

[2020-11-10 15:23] chris-wood commented on #198
Yeah, I think in this context, OPRF is the "application protocol" using hash-to-curve, so it seems appropriate to bind the DST to OPRF rather than the higher-level protocol using the OPRF.

[2020-11-10 21:57] chris-wood commented on #195
Closing as resolved. @claucece, please re-open if this still needs to be fixed!

[2020-11-10 21:57] #195 closed

[2020-11-10 21:57] chris-wood commented on #196
Closing as resolved. @claucece, please re-open if this still needs to be fixed!

[2020-11-10 21:57] #196 closed

[2020-11-10 23:08] #51 closed

[2020-11-10 23:31] chris-wood commented on #201
That's correct! @bytemare, if you have cycles, would you mind creating a PR with this suggested clarification?

[2020-11-10 23:38] bytemare commented on #201
Thanks! Yes, I think I can do that in the following days.

[2020-11-11 19:12] armfazh opened #208 "Ne,Ns,Nh defined per suite."
To improve clarity, the Ne,Ns,Nh parameters should be defined per suite.

[2020-11-11 23:38] bytemare opened #209 "Invalid encodings in test vectors"
Hello,

I tried testing my implementation in Go with the vectors found here: https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/8ec42c73db97a862827b8eec959a4df3d031adec/poc/vectors/allVectors.json

I encounter errors decoding private key values for Ristretto255. Stripping the 0x, the value is of length 63, which is odd, and Go's `hex.DecodeString()` returns the error `"encoding/hex: odd length hex

[2020-11-12 00:56] armfazh commented on #209
I get into the same issue, am preparing a fix for this.
--
Encoding numbers must be always padded with zeros.

[2020-11-12 02:49] bytemare opened #211 "Invalid `info` field encoding in test vectors"
The "info" in test vectors is set to the value "some_info", therefore breaking testing for implementations/poc building the info after the draft's instructions.

[2020-11-12 03:00] bytemare commented on #209
Padding seems to solve some of the issues, indeed. Well spotted.
Decoding from hex now works for me, but some values seem not to be correct for the internal representation.

E.g. For Ristretto255Sha512, the value `"skSm": "0x038ecf12e5465e4f1362d237521104338cde6717e26a25a5770da7ad85c704c6"` fails with the error "invalid scalar encoding" using https://github.com/gtank/ristretto255/blob/9e5f56cbf4b1

[2020-11-12 03:21] armfazh commented on #209
Here the question is whether the go implementation is compatible with the sage code.
@claucece could you please investigate which code is correct?

[2020-11-12 13:27] chris-wood commented on #211
Hmm, "info" is an opaque byte string. What are the instructions you see for specifying its format?

[2020-11-12 13:29] chris-wood commented on #209
@armfazh it's an endianness issue. `hex` dumps the integer in big-endian format, whereas ristretto255 and decaf448 expect all encodings to be little-endian. We need `EncodeScalar` and `DecodeScalar`-like functions to take care of these group-specific things. Can you please add that to your change in #210?

[2020-11-12 17:02] claucece commented on #209
ristretto and decaf as @chris-wood said are little endian. The padding with zeros does not ONLY happen with ristretto and decaf although in this case it might have. It happened to me with p384, as well, with some test vectors. So it is NOT about the encoding and decoding of ristretto and decaf, but rather the fact that hex does not include leading zeros. See: https://stackoverflow.com/questions/15

[2020-11-12 17:05] claucece commented on #209
Both codes are correct in Golang and sage with the test vectors I added at that time @armfazh .. not sure what you mean by the question. The Golang CIRCL implementation does not include ristretto nor decaf. If you need to include the leading zeros with the python `hex` func, you can use: `str.zfill()`: `hex(15)[2:].zfill(2)`.

z

[2020-11-12 17:10] armfazh commented on #209
The padding with zeros is already solved.

I can change endiannes for these groups.

[2020-11-12 17:35] claucece commented on #209
Cool! Thank you @armfazh ! If you want to see the full testing with the test vectors of the draft of ristretto255 and decaf448 @bytemare , you can find it here: https://github.com/claucece/sage-ristretto255-decaf448

[2020-11-12 18:28] #209 closed

[2020-11-12 19:33] bytemare commented on #211
I may have misinterpreted this paragraph:

So I understand it should be like "RFCXXXX-$contextstring", and not be an arbitrary string. But I may be wrong!

[2020-11-12 19:38] bytemare commented on #209
Awesome, thanks! 👍

[2020-11-12 23:37] chris-wood commented on #211
Oh, sure, this is just guidance. We can update the test to actually follow the guidance.

[2020-11-12 23:55] bytemare commented on #211
This DST is not h2c related, so it might not have to be h2c compliant, and could indeed be some arbitrary value.
In that case, what would be the guidance on choosing/setting this opaque byte string?

[2020-11-13 23:05] #208 closed

[2020-11-14 20:38] bytemare commented on #201
I tried to interpret it given the new test vectors.

I think the draft could need a dedicated section about Batching to address the following points:

1. Blinding method
State that batching is only available with multiplicative binding for the client since we're using multiple blinds, a dedicated one for each input. Except if the logic changes and enables blinding using the preprocessed values wit

[2020-11-15 15:38] chris-wood commented on #201
Hmm, I'm not sure I follow this. What "logic changes" are required to allow additive blinding for batches?

In base mode, each blinded element sent to the server yields one evaluated element in response. Unless I'm missing something, there's no efficiency to be gained by batching in this case. But maybe you have something particular in mind?

To be clear, are you suggesting that the client API be

[2020-11-18 19:38] bytemare opened #215 "Add h2c DST in test vectors"
I suggest adding the DST used for hash-to-group and hash-to-scalar in the test vectors, just like info. This would allow identifying the correct assembly of that DST before trying to hash anything and fail early.

Since I can't install Sage on my working machine right now, here is the suggested line I think would allow this to be added.

test_oprf.sage, line 121
[code]

[2020-11-18 22:11] bytemare commented on #201
Not much actually, just that all inputs will be blinded with the same pre-computed element. I think I got confused since the test vectors imply using the multiplicative blinding.

Yes, benefits would be on the network level and avoiding to have N round trips if one has N inputs to evaluate. What do you think?

I don't know. It could indeed be easier to have one function/method for single blinding,

[2020-11-19 01:16] chris-wood commented on #215
Thanks, @bytemare! We'll see if we can work this in.

[2020-11-21 18:13] chris-wood commented on #211
Good question. I think the guidance in draft-irtf-cfrg-hash-to-curve is probably the best we have at the moment.

In that case, would you be okay with updating the "info" string with something, uh, better than "some_info", and then closing this issue?

[2020-11-23 18:38] bytemare commented on #211
We have

[2020-11-23 19:20] bytemare commented on #211
I understand the need for the info field in Finalize and have the impression that h2c compliance adds this complexity. I am wondering how this impacts the usage over time. But I have nothing better.
***

So this is app-specific. Therefore, it should not be specified by the implementation since the system can use the same lib/implementation multiple times. If I understand correctly how this unfolds

[2020-11-23 22:09] chris-wood commented on #211
Hmm, I'm not really sure what more to do for this issue. Can you suggest a change on #216 if you think more should be done?

[2020-11-23 22:14] #211 closed

[2020-11-24 01:50] chris-wood commented on #215
@armfazh, what do you think about this?

[2020-11-24 02:11] armfazh commented on #215
I don't think is needed at all (there is nothing special other with it),
however, if that helps to programmers to test code, then it may be worth add it in json files only.

[2020-11-24 14:43] #215 closed

[2020-11-25 14:55] #201 closed

[2020-11-25 14:58] chris-wood opened #219 "Consider folding Unblind and Finalize together"
Currently, clients implement `Unblind` and `Finalize` together to complete the OPRF evaluation. I don't see a compelling reason to keep these separate, and expose an `Unblind` API, since it's not useful to OPRF clients. (They should not ever need the "intermediate" OPRF value -- the unblinded, evaluated elements.) I suggest we fold `Unblind` into `Finalize`.

@armfazh, @alxdavids, @claucece: what

[2020-11-25 16:41] claucece commented on #219
Agreed.

[2020-11-25 16:59] armfazh commented on #219
iirc, privacy pass stores those intermediate tokens before redeemption.
I don't know if that was done as an storage optimization. Alex knows better.

[2020-12-27 14:09] bytemare opened #222 "Reproducible proof generation"
The c and s values in the test vectors are build using a random value that's not given. Hence, the c and s values are not reproducible in tests to verify server-side computations are correct.

Is this by design, i.e. the generate_proof output not be tested?

[2021-01-06 03:40] #222 closed

[2021-01-17 15:49] chris-wood opened #224 "Update static DH oracle text"
From @hugokraw:

We might also want to update the "use a larger curve" guidance, since whether or not it's needed depends on the feasibility of these attacks. (OPAQUE, for example, is fine to use P-256 and the like.)

More information can be found in [Taylor's writeup](https://mumble.net/~campbell/tmp/20210116/draft-riastradh-staticdh.html) on  "Attacks on Static Diffie-Hellman Oracles".

[2021-01-18 04:41] hugokraw commented on #224
My remark quoted above is correct _except_ that memory cost has been reduced to essentially constant (see Taylor's writeup). Communication cost remains infeasible even for those that think of  2^100 time attacks as realistic in some way.

[2021-01-18 12:08] LoupVaillant commented on #224
Taylor's writeup spoke of the limitations of the legitimate server, and explicitly ignored communication overhead. Personally, I believe communication overhead provides an even more convincing argument, because of a fundamental limitation of our universe: the speed of light.

Light travels about 30cm per nanosecond. A 1ns round trip thus requires the attacker to be within 15cm of the legitimate se

[2021-01-18 16:19] alterstep commented on #224
Close adversary -> other VM on the same machine or backdoor in switch/router! It can happen!
User assume crypto is safe -> not assume applications and users must work around crypto design flaws

[2021-01-18 23:21] LoupVaillant commented on #224
I did not think of the VM, though that would be very close to having physical access. Given how hard process isolation is, if the adversary shares a server with the victim, side channels are probably a more serious threat than the number of possible requests. And even if they aren't, the attacker still has to deal with the limitations of the victim's CPU, virtual or not. My argument about distance

[2021-02-05 18:07] alxdavids opened #225 "Consider adding no-DLEQ ciphersuite for VOPRF"
The PMB Tokens paper constructs a weaker version of a VOPRF without DLEQ proofs (see Section 7 of https://eprint.iacr.org/2020/072). The weakness of the construction allows the server to send back random garbage and the client cannot distinguish.

This effectively provides the server with an extra bit of privacy that it can remove. However, removing the DLEQ proofs also comes with the benefit of r

[2021-02-07 22:22] bytemare commented on #225
I may be misunderstanding, but OPAQUE is defined to use the non-verifiable OPRF, so already without any specific overhead. What would be the advantage ?

[2021-02-16 14:18] chris-wood commented on #219
It appears to be done because the redemption API is what provides the `Finalize()` aux/info parameter. So one can fetch a token and then later redeem it for a given context. That's a reasonable design choice, so I'm going to close this as-is.

[2021-02-16 14:18] #219 closed

[2021-02-17 00:22] armfazh commented on #219
So that means to get generic pases/tokens, and then narrow them to a particular application/context with the aux parameter. That's interesting.

[2021-02-17 15:32] chris-wood opened #226 "Remove `info` parameter"
Finalize currently allows clients to provide mix in some application-layer info into the PRF evaluation. Is there any reason why we can't mix this in earlier in the protocol, e.g., alongside the application input? It's not cryptographically bound to the OPRF, and the client can use it to tweak the the output as they please. More specifically, they can acquire an OPRF evaluation and then Finalize i

[2021-02-17 16:49] alxdavids commented on #226
@chris-wood Are you suggesting then that we place `info` in the final hash evaluation with a permanent fixed string? I don't really have any problem with this proposal, and I think it makes sense to remove any unneeded variability from this final step.

[2021-02-17 16:51] chris-wood commented on #226
I’m thinking we remove it entirely.

[2021-02-17 19:57] jedisct1 commented on #226
No objections at all, especially since it will simplifies the API a bit.

[2021-02-17 20:21] bytemare commented on #226
Agreed !

[2021-02-17 20:28] armfazh commented on #226
Another option that might work is to remove `aux` from Finalize, and add it to Blind. Thus, Blind will hash both `input` and `aux` to obtain a point. So, we can maintain the `aux` as a domain separation string.

[2021-02-18 01:27] chris-wood commented on #226
I'm not sure I see the benefit of having two string parameters with the same "properties" as input to the API. I'd prefer we give guidance for how applications can construct input with domain separation. (Or how implementations can bake domain separation beneath the API.)

[2021-02-18 01:30] chris-wood commented on #225
Given that this possibly worsens the privacy posture of the protocol and is limited to a particular implementation of the blinding step, I'm not inclined to make this change. @siyengar, can you elaborate on the benefit here? (I probably just didn't understand the motivation.)

[2021-02-18 18:52] #226 closed

[2021-02-18 18:52] chris-wood commented on #224
@alxdavids will you have cycles to do a PR for this in the next day or so?

[2021-02-18 23:01] chris-wood opened #228 "Consider adding deterministic KeyGen function"
We currently assume the existence of a randomized `KeyGen` function for each of the groups we care about. There are some use cases where one might want to deterministically derive a key (pair) from a seed of appropriate entropy. @alxdavids, what do you think about adding this to the spec?

[2021-02-19 16:04] siyengar commented on #225
Ya it likely does worsen the privacy posture, although this is probably a bit more complicated as there are some issues with the current scheme as well if the client fails to perform proper validation. My thought on the benefits of this type of scheme were 3 fold:

1. Gets rid of the client needing to perform a validation step. As we know from TLS and other protocols, adding an `if` condition to t

[2021-02-19 16:38] alxdavids commented on #224
@chris-wood, not sure I'd have cycles for this before Monday. There was a recent write-up which is formulated as a draft CFRG document, but I'm not sure if it has yet been submitted: https://riastradh.github.io/draft-riastradh-cfrg-staticdh/draft-riastradh-cfrg-staticdh.html. Ultimately, if we could link this discussion outside of VOPRFs, I think this would be a nicer solution.

[2021-02-19 22:46] chris-wood commented on #225
I don't disagree with any of the points, but I really don't understand the proposal. Cold you or @alxdavids whip up a draft PR with something more concrete?

[2021-02-19 22:58] chris-wood commented on #225
Okay, I RTFM :-) this seems less like a new ciphersuite and more like a new mode because (a) the group doesn't matter, (b) implementation details differ compared to the other two modes, and (c) the security properties are different. Perhaps we could call this "WeakVerifiable" mode, or something? It might look like so:

1. Blind is as specified in Section 7 of [the PMB paper](https://eprint.iacr.or

[2021-02-19 23:09] chris-wood commented on #228
One way we might do this is by defining a mechanism based on HashToScalar() and a fixed generator for the group. @alxdavids, @armfazh: what do you think about adding a `Generator()` function to the POG API? We assume `ScalarBaseMult()` exists (for additive blinding), so this promoting `Generator()` to the API seems somewhat reasonable to me.

[2021-02-20 01:05] armfazh commented on #228
The easiest way is to add an additional requirement to the group: to have a `KeygenFromSeed(seed)`.
So each group can define how to instantiate this function.

However, the motivation for adding this function is on the caller protocol. For OPRF, a server can expect to have its private key generated somehow by another entity (provided is a correct key, of course). So the caller protocol can assume

[2021-02-20 01:13] chris-wood commented on #228
I like this less because it introduces a new API, whereas the proposal above was to basically clarify what already exists. (We have HashToScalar and ScalarBaseMult, which should be sufficient, right?)

This isn't quite the use case. The idea motivation for this change is to allow the "caller protocol" provides the seed to produce a key pair. How that's possible right now is not clearly defined.

[2021-02-20 01:24] armfazh commented on #228
Actually, Keygen is not even defined in Section 2. Its first reference is at Sec 3.2.
`Prior to this phase, keys (skS, pkS) should be generated by calling a KeyGen function.`

So, defining `KeyGen()` and `KeyGen(seed)` at section 2.1 must be enough.

Q: do we assume the deterministic method exists, or do we specify it?

I think, we can only suggest how to implement the deterministic method, becaus

[2021-02-20 02:39] chris-wood commented on #228
Hmm, I don't think this is a viable solution, since users of this function should expect them to be interoperable. For example, two different implementations of the function should expect that KeyGen(seed) (or whatever) produces the same key, right?

[2021-02-20 15:13] chris-wood opened #231 "Update change log for -06"
The title says it all.

[2021-02-20 16:35] chris-wood opened #232 "ristretto255 and decaf448 hash-to-scalar issues"
Currently, the document defines HashToScalar for these groups like so:

[code]

This aligns with HashToScalar for other groups (based on NIST curves). However, it is somewhat inconsistent with the HashToGroup implementation of ristretto255 and decaf448, which basically rely on HKDF and the one-way maps. I *think* the best way to address this is to provide a one-way map in the ristretto255 document

[2021-02-20 23:52] armfazh commented on #228
I agree. My main observation is whether the description of  Keygen(seed) is MUST or RECOMMENDED (according to the IETF definitions).

[2021-02-21 00:12] chris-wood commented on #228
Ahh, okay, I see. I’m considering a MUST, given that it’s effectively part of the POG API.

[2021-02-21 01:41] #232 closed

[2021-02-21 01:46] #228 closed

[2021-02-21 01:46] chris-wood commented on #231
@armfazh would you be able to put together a PR for this?

[2021-02-21 01:56] claucece opened #234 "Change SHA-512 to SHAKE-256 for Decaf"
This is basically an extension of #200

ed448 is implemented with SHAKE-256, as defined and analysed here: https://tools.ietf.org/html/rfc8032#section-8.9

Following the same comment by @jedisct1 , decaf448 is a natural extension to ed448 (even though it is not widely implemented), and it uses shake-256.

This, of course, mean that the  expand_message function will be different.

I raised this poi

[2021-02-21 01:58] chris-wood commented on #234
I don't think we should make this change. SHAKE is not widely supported in cryptographic libraries.

[2021-02-21 02:01] claucece commented on #234
The same way that curve448 or decaf is not widely implemented. But when you do implement it for signing (for ed448, which is most of the times what you use the functionality of decaf for), you have to have shake256. So implementing that one sort of implies the other.

[2021-02-21 02:05] chris-wood commented on #234
Yeah, that's true, if you're using ed448 for signing, but it's not clear to me that's a sought-after use case. I'd like to see more widespread support before we force SHAKE onto libraries.

[2021-02-21 15:20] chris-wood commented on #234
@gtank, @filosottile: what's your take here?

[2021-02-21 15:30] #231 closed

[2021-02-21 15:47] FiloSottile commented on #234
The r255-d448 draft doesn't depend on any hash functions, specifically to leave these decisions to higher-level specs that can aim for consistency. (I find the EdDSA specs introducing a choice of hash without actually having a requirement for a specific one an anti-pattern, for example.) I would recommend picking whatever is consistent within the context of your spec, but I don't have an opinion o

[2021-02-21 15:56] chris-wood commented on #234
Yep, and it seems both would be consistent (for some definition of consistency). My take right now is that ease-of-implementation is a primary consideration. If we think most implementations of d448 will come packaged up with ed448 and EdDSA, then perhaps SHAKE is the right answer (since it adds no new dependency). But if we think most implementations of d448 may come with just ed448, and no corre

[2021-02-21 19:52] jedisct1 commented on #234
Pretty sure that all existing Ed448 implementations also come with EdDSA, and thus SHAKE.

And a library dedicated to Ed448 doesn't have any reasons to include SHA-2.

So, from an implementation perspective, opting for SHAKE wouldn't be a bad thing.

[2021-02-21 19:59] chris-wood commented on #234
Yeah, you and @claucece certainly know better than me how widespread this is.

True, but my guess is that any existing library certainly has support for SHA-2, whereas SHAKE is more esoteric.

Anyway, to be clear, I don't feel strongly about this. My only desire is to not push new dependencies onto libraries that would not otherwise be there. If implementers think SHAKE would be more consistent wi

[2021-02-21 20:26] chris-wood commented on #234
Okay, I looked through GitHub to educate myself. Frank's right that most ed448 libraries support EdDSA, so SHAKE's a given. But there are some notable edge cases (OpenSSL).

In any case, there seems to be a couple cases worth considering when implementing d448 for this specification:

- Start from nothing: add d448 with either SHA2 or SHAKE
	- If you'll add EdDSA support, then you'd want SHAKE
	-

[2021-02-21 20:43] claucece commented on #234
@chris-wood for sure! I love working with any curve448 and related things ;) When do you need this?

[2021-02-21 20:45] chris-wood commented on #234
Lovely :-) there's no immediate rush here. It would be good to get this done before the upcoming IETF meeting, though.

[2021-02-23 07:59] armfazh opened #236 "Deriving keys deterministically requires domain separation?"
In this call to HashToScalar, no DST is specified, which is not conformant with Ciphersuite section in the draft.

https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/866a54cc1021390359e67d8a1b773e2d70f19067/poc/oprf.sage#L281-L284

OTOH, setting `DST = "VOPRF-HashToScalar"|| context_string` is a dst specific to the (v)oprf protocol. It seems to me that the derivation of keys must be agnostic of th

[2021-03-02 01:33] tmthrgd commented on #236
For reference: changing `HashToScalar` to incorporate DST was part of #233.

[2021-03-02 14:58] chris-wood commented on #236
@armfazh is there a reason why we'd want the key derivation procedure to be decoupled from the protocol in this specification? To me, coupling them seems attractive, as I can imagine applications being tempted to re-use seeds for multiple protocols. This coupling would do its best to ensure that the key output from `DeriveKeyPair` is different from other keys derived from that seed. (Of course, ap

[2021-03-02 20:18] armfazh commented on #236
My main concern is that DeriveKeyPair, as is currently specified in the draft, uses `HashToScalar(seed, dst)`, with `dst="VOPRF..."`.  But, the reference implementation sets `dst` to the empty string. So this needs to be fixed.

Also, I was slighly on the side of independent key generation, but I don't really have a strong preference about whether deriving keys must be coupled or not to the protoc

[2021-03-02 20:24] chris-wood commented on #236
Yeah, we can fix the reference implementation if this is the case.

[2021-03-11 00:58] chris-wood opened #241 "Blinding blues"
[Jarecki et al.](https://eprint.iacr.org/2021/273) have an upcoming paper at [PKCS2021](https://pkc.iacr.org/2021) that analyzes security properties of blinding mechanisms used in the 2HashDH construction. Recall, for the purposes of this issue, there are two types of blinding (using group notation to align with this specification, whereas their paper uses exponential notaton):

- Multiplicative:

[2021-03-17 15:03] chris-wood opened #242 "NIST curve scalar serialization"
We currently say that implementations should reduce mod `p`, but `p` is elsewhere the order of the group (and not the underlying field). We should probably fix the language here.

[2021-04-02 01:30] bytemare opened #244 "HashTo* dst too short"
The new dst ( "HashToScalar-" + context )  for _HashTo-something_ operations is less than the 16 bytes recommended by h2c. A couple of more characters should fix this.

cc @chris-wood

[2021-04-30 23:35] armfazh commented on #236
While trying to patch deriveKeyPair function as follows

[code]
Note that `context_string` depends on the mode: `mode_base` or `mode_verifiable`, so the keys will be attacthed to the mode, not only to the ciphersuite used. is this intended?

[2021-04-30 23:47] chris-wood commented on #236
I think so, yeah. We can always relax this later if folks think it's too strong, but my take is that more context binding is generally better.

[2021-05-20 23:57] armfazh commented on #244
I think this was already addressed.

Note that the DST have more than 16 bytes:
DST for HashToGroup(): `DST = "HashToGroup-" || contextString`
DST for HashToScalar():  `DST = "HashToScalar-" || contextString`
where `contextString = "VOPRF06-" || I2OSP(modeBase, 1) || I2OSP(suite.ID, 2)`

Unless I am missing something, we only move `VOPRF06-` to the context string.

[2021-05-21 15:03] chris-wood commented on #244
Indeed - closing as resolved. @bytemare please reopen if you disagree with this assessment!

[2021-05-21 15:03] #244 closed

[2021-06-08 11:52] chris-wood commented on #236
Closing as resolved. Please reopen if that's not the case!

[2021-06-08 11:52] #236 closed

[2021-06-08 11:57] chris-wood commented on #224
@alxdavids any chance you can do this before IETF 111?

[2021-06-08 19:36] chris-wood commented on #225
Given that this particular variant requires some additional analysis, and it can be done in a followup spec should one want it, closing as WONTFIX. @siyengar, we can spin up a separate document should it really be needed.

[2021-06-08 19:36] #225 closed

[2021-06-15 18:04] kevinlewi opened #251 "Should deserializing to the identity element be considered invalid?"
The specification of `RandomScalar` says:

Which means that `blindedElement` should never be the identity element.

At the moment, the server runs `DeserializeElement(BlindedElement)` as the first step of Evaluate:

What if `BlindedElement` is indeed the identity element -- should this be considered invalid and rejected immediately by the server? Or should the server continue processing the reques

[2021-06-16 13:40] #234 closed

[2021-06-16 14:09] chris-wood commented on #242
Fixed in #249.

[2021-06-16 14:09] #242 closed

[2021-06-16 14:12] #241 closed

[2021-06-16 23:21] #251 closed

[2021-07-01 08:55] #224 closed

[2021-07-07 19:10] claucece opened #259 "Add support for partially oblivious PRF evaluation"
[Tyagi et al.](https://eprint.iacr.org/2021/864.pdf) present a modified variant of the 2HashDH-based OPRF that enables so-called "partially-oblivious" evaluation. Abstractly, this means that the OPRF protocol has two types of PRF inputs:

- Private input, typically provided by the clients, that is hidden from the server during evaluation.
- Public input, input by client and server, that is visible

[2021-07-07 19:11] claucece commented on #259
Related: https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/258

[2021-08-03 18:29] #259 closed

[2021-09-10 16:06] FredericJacobs opened #266 "OPRF(P-384, SHA-512) vs OPRF(P-384, SHA-384)"
Is there a compelling reason to use SHA-512 with P-384 as opposed to matching P-384 with SHA-384 like is commonly done for ECDSA signatures for instance? The number theoretical assumptions for ECVOPRF with P-384 make it such that you get below 192-bit of security, so is it warranted to require SHA-512 over SHA-384?

[2021-09-12 08:50] kevinlewi opened #267 "Mismatch in test vectors for constants relating to metadata info"
There is a mismatch between how the test vectors are generated (https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/master/poc/oprf.sage#L312) and what the current text says
(https://github.com/cfrg/draft-irtf-cfrg-voprf/blame/master/draft-irtf-cfrg-voprf.md#L633) for handling the metadata info fields.

cc: @chris-wood

[2021-09-13 13:51] chris-wood commented on #266
This was done for alignment with the corresponding hash-to-curve suite, which uses SHA-512 with P-384. It's probably reasonable to update that suite, since SHA-384 meets the criteria needed for a 192-bit level. @kwantam, I'm not aware of any existing uses of the `P384_XMD:SHA-512_SSWU_RO_` suite, so perhaps we can just update this in both places?

[2021-09-13 14:31] jedisct1 commented on #266
Certainly not a bad change to make now, before applications start using P-384 with SHA-512.

[2021-09-13 14:35] kwantam commented on #266
My vote would be to stick with SHA-512 rather than to move to SHA-384, for two reasons:

- SHA-512 is, in general, much more widely deployed than SHA-384.
- There's no speed advantage to SHA-384: it's just SHA-512 with a different IV and a truncated output.

But on the other hand, it looks like switching to SHA-384 in hash-to-curve doesn't really hurt anything---both of the P-384 suites end up usi

[2021-09-13 14:51] kwantam commented on #266
One more thought, in favor of SHA-384: we switched the '25519 suites from SHA-256 to SHA-512 because that matches up well with EdDSA. So it stands to reason that we would also match up the P-384 suite with the existing signature standard.

[2021-09-13 14:55] chris-wood commented on #266
Performance-wise, here's a quick benchmark of SHA-384 from BoringSSL:

[code]

And here's SHA-512:

[code]

So there is a difference for larger inputs, but most things being hashed in this context are on the smaller end. @FredericJacobs, does this mostly align with your perceived performance differences?

[2021-09-13 15:13] FredericJacobs opened #269 "Mismatched labels between test vectors and spec"
Spec says the following for evaluate.

[code]

But test vectors use an undefined Metadata tag that does not exist in the spec.

[code]

[2021-09-13 15:16] FredericJacobs opened #270 "Test vectors do not use private key"
The sage implementation from the test vectors does not use the private key
[code]

Note it takes the inverse of `tag` and not `t` like it should as defined by the spec.

[code]

[2021-09-13 15:17] kwantam commented on #266
The performance differences are almost certainly illusory. It is literally the same algorithm with different constants.

[2021-09-13 15:17] chris-wood commented on #266
Yep =)

[2021-09-13 15:20] FredericJacobs opened #271 "Spec is missing reference to string encoding vector"
I assume it would be ascii but the encoded string format is defined nowhere in the spec.

[2021-09-13 16:44] chris-wood commented on #271
@FredericJacobs can you elaborate on this issue? I don't understand what's missing.

[2021-09-13 16:45] #267 closed

[2021-09-13 16:46] #269 closed

[2021-09-13 16:46] chris-wood commented on #269
Fixed in #268.

[2021-09-13 17:04] FredericJacobs commented on #271
The spec doesn't say what string encoding is expected for strings like "Context-" or "Finalize-"

[2021-09-13 17:05] chris-wood commented on #271
Ah, gotcha. It's ASCII. I'll clarify.

[2021-09-13 20:22] FredericJacobs opened #273 "Input -> Message?"
<img width="183" alt="Screenshot 2021-09-10 at 18 41 04" src="https://user-images.githubusercontent.com/400296/133150547-b7c3b9a5-4f37-4fcf-9fe1-274110b2ffa6.png">

The above is quite confusing to take output as input.

I'm not really liking the nomenclature of input and output for VOPRFs.

Have you considered other names?

For input, I think `message` could work. For output, I think `evaluationRe

[2021-09-13 22:10] kevinlewi opened #274 "Out of order context strings: sage code vs. spec"
The way the context is constructed in the sage code for the server's evaluate() function does not match the spec.

Sage code:

https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/master/poc/oprf.sage#L87-L89

But the spec says:

  context = "Context-" || contextString ||
            I2OSP(len(info), 2) || info

I believe the sage code should be changed to read as:

        context_DST = _as_bytes("

[2021-09-13 22:11] #270 closed

[2021-09-13 22:25] chris-wood commented on #273
This is, at the end of the day, a PRF, which is just a function with inputs and outputs. We've not bikeshed the names of these yet.

[2021-09-14 01:29] kevinlewi opened #276 "Test vectors missing "EvaluationProofR""
Right now, in verifiable mode, the proof outputs two scalars “c” and “s”. However, a random “r” is sampled, but this “r” value is not displayed in the test vectors. I think we need to add one more line here: https://github.com/cfrg/draft-irtf-cfrg-voprf/blob/master/poc/test_oprf.sage#L188-L189 to also display “r”.

[2021-09-14 18:52] #274 closed

[2021-09-15 14:15] #276 closed

[2021-09-18 13:15] #271 closed

[2021-09-20 14:11] #266 closed

[2021-09-27 13:33] chris-wood opened #281 "Generalized H3"
It's possible to extend the POPRF design to build a puncturable variant (in the metadata), a la [STAR](https://arxiv.org/pdf/2109.10074.pdf). Currently, the POPRF abstraction does not allow this to be done so easily. We could probably accommodate it by allowing servers to specify H3, the HashToScalar function used for computing the evaluation context. @alxdavids, thoughts?

[2021-09-28 08:56] alxdavids commented on #281
I think this could be useful. Would the choice of H3 be completely open, or would there would be a set of potential choices?

[2021-09-28 12:40] chris-wood commented on #281
If anything, I imagine it would be fixed (in this doc) to reasonable choices, namely, random oracles. Though, now that I think more about it, it's not unreasonable to just specify elsewhere how `info` is computed on client and server using the PRF, and then how the result is passed into the existing APIs. So nothing probably needs to happen here. Closing!

[2021-09-28 12:40] #281 closed

[2021-09-28 16:15] chris-wood opened #282 "Update version context string and change log"
This will also update the test vectors.

[2021-09-30 16:02] FredericJacobs opened #285 "Update test vectors for OPRF(P-384, SHA-384)"
Current test vectors use SHA-512

[2021-09-30 16:03] FredericJacobs commented on #285
Nevermind. Didn't pull the latest

[2021-09-30 16:03] #285 closed

[2021-10-08 18:36] chris-wood opened #288 "Remove input from Finalize DST"
In Finalize, we include `evaluatedElement` in the hash input, which seems redundant with `input`. We could probably drop `input` from this step, which would simplify the API quite a bit too. Or we could replace it with the representative of `input` in the group (`HashToGroup(input)`).

[2021-10-08 19:27] chris-wood opened #289 "Fixed-base key generation"
The group generator is currently fixed throughout the protocol, but it may useful to let applications vary this. It seems reasonable, for example, to let the public key base be something other than the fixed generator, such as `HashToGroup(something)`. Currently, the public key assumes that the base is the fixed group generator, which is convenient though (I think) not essential.

[2021-10-13 16:05] armfazh opened #290 "trigger an error when the inverse of `k+m` does not exist"
do we need to include an error when the inverse of `k+m` does not exist?

_Originally posted by @armfazh in https://github.com/cfrg/draft-irtf-cfrg-voprf/pull/284#discussion_r727727425_

[2021-10-14 17:27] #289 closed

[2021-10-14 17:38] chris-wood commented on #290
(oops, didn't mean to unassign!)

[2021-10-25 21:21] #290 closed, assigned to armfazh

[2021-11-15 15:56] chris-wood opened #296 "Add more prose"
Each function would benefit from a description of what's happening, and why.

[2021-11-15 15:58] chris-wood opened #297 "Reconsider batch presentation"
The current document focuses on non-batch evaluation as the common case. We describe how to batch [in a subsection](https://cfrg.github.io/draft-irtf-cfrg-voprf/draft-irtf-cfrg-voprf.html#section-3.3.2.2.1), though it is somewhat hidden. It's not clear to me that making batched evaluations the single (default) API would be cleaner or simpler. Maybe there's another way to help improve presentation

[2021-11-15 16:00] chris-wood opened #298 "Consider separating core algorithms from serialization details"
Since this specification defines a protocol, the API uses byte strings along the abstraction boundary. This means the implementation of core functions, like Blind, Evaluate, etc, all deal with de/serialization. It might be cleaner if we isolated the core cryptographic algorithms from the spec, i.e., those whose inputs are implementation specific, from the rest.

[2022-01-10 07:04] daxpedda opened #305 "`HashToGroup` and `HashToScalar` can produce invalid keys"
`HashToGroup` can produce the identity element and `HashToScalar` can produce a zero scalar. It is extremely unlikely though.

Currently it's not specified how to behave when this happens. Potentially, on failure to produce a valid output, the program might just automatically try again, which would simply be rejection sampling. Maybe that's fine, IANA cryptographer.

In addition `DeriveKeyPair` re

[2022-01-11 01:50] chris-wood opened #306 "Specify key derivation"
The current spec punts on key derivation. In particular, it assumes some mechanism for deriving keys. To promote an EdDSA-like interface, wherein "private keys" are random seeds used to _derive_ actual scalars, it would be useful to specify the key generation mechanism. This might look something like the following:

[code]

One could use this to derive keys for the OPRF, VOPRF, or POPRF protocol v

[2022-01-11 21:05] armfazh commented on #306
(thinking out loud): when deriving keys based on the mode+info, we do this because it is expected to separate the key spaces, so --for example-- we ensure that generating keys for OPRF are likely not the same than those for VOPRF.

However, there is no way to determine whether a pair of keys (sk,pk) should be used in a particular protocol. In other words, any valid pair (sk,pk) can be used for any

[2022-01-12 01:20] chris-wood commented on #306
It's a good question, and something @tomrist and I discussed. There's (at least) two ways we can approach the question:

1. Assume applications are capable of generating keeping keys separate. That is, treat key generation or derivation as something _external_ to the protocol.
2. Assume applications are incapable of keeping keys separate, and enforce key diversification _within_ the protocol.

Opt

[2022-01-12 03:39] daxpedda commented on #306
Related: #305.

I would like to note, that it is important for implementations to know what is supposed to be done in the case of `DeriveKeyPairError`. Is rejection sampling okay? Basically make a new seed and retry?

[2022-01-12 07:41] daxpedda opened #307 "Unhandled zero scalars and identity elements"
This is a list of functions that contain group operations that might produce zero scalars or identity elements. I don't actually know if this is a problem or not in some of the cases, I'm going to leave that to actual cryptographers to figure out.

- [`GenerateProof`](https://cfrg.github.io/draft-irtf-cfrg-voprf/draft-irtf-cfrg-voprf.html#section-2.2.1-2) can return a zero scalar because of `s = (

[2022-01-12 18:22] bytemare commented on #306
Isn't VOPRF _technically_ two protocols in one already? The evaluation part in VOPRF is in fact pure OPRF, and thus the same private key is used in OPRF and VOPRF. Given the proof work that has been done, is this a problem?

[2022-01-12 18:23] chris-wood commented on #306
In general, we should strive to make sure that separate protocols use separate keys. The proposal above gets us this for essentially free.

[2022-01-13 06:49] armfazh commented on #306
I support the idea of abstracting the pair of keys as opaque byte strings, and from them derive the required math objects.

So, a _deterministic key generation_ method is then required. The term 'derivation', I think, it will no longer apply.

[2022-01-19 14:59] chris-wood commented on #305
Let's track this in #307.

[2022-01-19 14:59] #305 closed

[2022-01-21 15:42] #306 closed

[2022-01-21 15:43] chris-wood commented on #298
Fixed in #310.

[2022-01-21 15:43] #298 closed

[2022-01-21 15:48] chris-wood commented on #273
This function was dropped from the draft, so this is no longer relevant. Closing.

[2022-01-21 15:48] #273 closed

[2022-01-25 23:09] chris-wood commented on #307
@armfazh did some analysis and concluded that the only place where we need to be concerned with distinguished scalars is in the `Blind()` step. Fortunately, `Blind` uses `RandomScalar` to produce a scalar, which returns a _non-zero_ scalar. Thus, the only way for `Blind` to produce the identity element is for `HashToGroup` to produce the identity element, and since that is entirely determined by t

[2022-01-26 06:47] hugokraw commented on #307
Chris asked me to take a look at this. The 2HashDH OPRF needs to specify the bind factor to be different than 0 since otherwise the de-blinding would not work. Pathological cases such as getting 0 when a random field value is chosen or getting the identity element when hashing into a curve (and possibly other cases like this) need to be handled as a severe error. Indeed, since the probability that

[2022-01-26 09:56] daxpedda commented on #307
This is a problem for OPAQUE, which uses the `Blind` function with the input being the user password. This means that there is a user password out there that can't be used with OPAQUE.

That said, the chances are extremely low for that to happen and it ideally people should use a password manager ... I would still prefer this to not be fallible if at all possible.

[2022-01-26 12:54] chris-wood commented on #307
Thanks @hugokraw! This is already handled by the spec. The scalar returned is guaranteed to be non-zero (unless an implementation does this wrong, of course).

[2022-01-26 12:56] chris-wood commented on #307
@hugokraw this is the more important comment, I think. In the context of OPAQUE, if the user's password maps to the identity element of the group, then indeed they cannot use that password with OPAQUE.

[2022-01-26 13:19] chris-wood commented on #307
@daxpedda here's my take on HashToScalar outputting zero in the cases identified:

- ComputeComposites (computing `d_i`): A zero value does not invalidate the resulting (M, Z) output, so no special handling is needed here.
- Proof generation and verification (computing `c`): A zero value does not invalidate the proof, since the private key is still perfectly blinded by `r`.
- POPRF Finalize: Clien

[2022-01-26 13:48] daxpedda commented on #307
Thank you for the explanation! This comes back then to the issue that the protocol can simply fail at POPRFs `Evaluate` and has to be restarted, which is less then ideal I would argue.

With the concerns resolved here, I don't have much of a stake in this anymore, I came here from the OPAQUE protocol. As far as I understand the OPAQUE protocol doesn't intend to use POPRF but plain OPRF.
I would li

[2022-01-26 13:56] chris-wood commented on #307
Fair point. We can likely make this fail earlier, in Blind. I'll send a PR to do that.

[2022-01-26 17:42] hugokraw commented on #307
Even with a password dictionary with entropy of 256 bits, the probability of this happening is 2^{-256}. There are worse things happening at that probability level including guessing OPRF keys, discrete logarithms, signature and encryption keys, multiple collisions, etc. If you get such a case there is a billions of times higher probability that this is  due to a programming bug or the break of th

[2022-01-26 20:45] chris-wood commented on #307
This is true, and I don't think we have any security considerations text describing this case. I'll file an issue against the OPAQUE draft to add it.

Yep =)

[2022-01-27 17:03] #307 closed

[2022-01-28 04:20] cjpatton opened #315 "Chris P.'s review: Editorial"
Some editorial feedback on the current version.

# 1

* The verifiability property of VOPRFs sounds similar to VRFs. Since there is a
  draft for this, it's probably a good idea to reference as related work.

* Quote:

  For this to make sense the client needs to know something about k. What about:
  "A Verifiable OPRF (VOPRF) is an OPRF wherein the server also proves to the
  client that F(k, x)

[2022-01-28 04:20] cjpatton opened #316 "Chris P.'s review: Protocol"
Some comments on the spec itself. These are all suggestions for clarification,
none of them are breaking changes.

## 2.1

* Quote:

  This statement needs to be sharpened a bit. In particular, the order of the
  group doesn't determine the encoding of group elements or the group action.
  For example, it's possible to have multiple representations of the same
  elliptic curve group, something tha

[2022-01-28 04:20] cjpatton opened #317 "Chris P.'s review: Security Considerations"
In my opinion, this is the weakest section of the document right now. (But it's not far
from being great!) I'll start off with some high level thoughts and follow with detailed
comments.

The bulk of the security considerations is dedicated to discussion of
computational assumptions used in security proofs. This is particularly
important for this document because the assumptions are stronger than

[2022-01-28 10:58] daxpedda commented on #307
As an implementer I'm still unsure what to do. Sure I can return an error message, but there is still a password out there that **correctly** maps to the identity point, so if this ever happens, there is no action I can take.

For this to happen OPAQUE has to rely on a special version of `Blind` that doesn't return an error on an identity element.

---

This could be easily solved in OPAQUE by mak

[2022-01-31 15:41] #315 closed

[2022-01-31 15:41] #316 closed

[2022-01-31 15:41] #317 closed

[2022-02-01 07:09] daxpedda opened #320 "Infallible functions"
As an implementer I'm still unsure what to do. Sure I can return an error message, but there are still passwords out there that **correctly** map to the identity point, so if this ever happens, there is no action I can take.

For this to happen OPAQUE has to rely on a special version of `Blind` that doesn't return an error on an identity element.

---

This could be easily solved in OPAQUE by maki

[2022-02-01 13:39] chris-wood commented on #320
Please take this issue to the OPAQUE repo :) This is not something the VOPRF spec can address.

[2022-02-01 13:48] chris-wood commented on #320
Oops, I didn't read the bottom half of this issue! (I was perusing on my phone.) Sorry about that.

You ask:

The hash-to-group operation is assumed to act like a random map from inputs to _all_ group elements, including the identity element. We [don't currently have an implementation](https://cfrg.github.io/draft-irtf-cfrg-hash-to-curve/draft-irtf-cfrg-hash-to-curve.html) of hash-to-group-excludi

[2022-02-01 14:10] daxpedda commented on #320
Specifically I would like to know why the "reduction mod n-1 plus one" method can't be used instead of a counter, which is rejection sampling and not constant-time.

Indeed, that would have been my suggestion.

I understand the hesitation:
- For OPAQUE it is important because otherwise specific password can't be used. The chance of that actually occurring is (extremely) low, but not impossible, so

[2022-02-01 14:14] chris-wood commented on #320
Yeah, I understand the motivation here, and I agree that this would be a nice property to advertise to users. However, as you say, even if we went with a counter (or similar) based try-and-increment solution, the code would inherently need to deal with failures, right? I simply don't see a solution right now that would yield an infallible interface.

[2022-02-01 14:15] daxpedda commented on #320
The "reduction mod n-1 plus one" method could work.

[2022-02-01 14:23] daxpedda commented on #320
@armfazh is the one who pointed this out in https://github.com/cfrg/draft-irtf-cfrg-opaque/issues/298#issuecomment-1006936162.

It's used for example in ECDSA key generation as specified in the [NIST FIPS 186-4](https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-4.pdf#%5B%7B%22num%22%3A152%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C70%2C632%2C0%5D).

[2022-02-01 14:41] chris-wood commented on #320
Sorry, maybe I'm not following you here. For OPAQUE, we only care about the OPRF, and the only way that `Blind` can fail is if hash-to-group yields the identity element. What does "reduction mod n-1 plus one" mean in the context of that function?

[2022-02-01 14:47] daxpedda commented on #320
Forgive me, the whole time I was thinking of `HashToScalar`, which this applies to, and forgot that we are actually talking about `HashToGroup` here! My bad 😅!

I'm assuming there is no method to coerce an element to a non-identity element?

Alternatively I can think of the following solutions:
- Implement a counter into `Blind`, not ideal as it is still fallible but it's best effort.
- Propose a

[2022-02-01 14:57] daxpedda commented on #320
Right, as I said. My assumption here is that, from the lens of OPAQUE again, there are password that will fail for sure here, even if it's unlikely, they exist. A counter would prevent that, for sure, in the sense of there is no password that can fail through the counter. (IANA cryptographer, please call me out if I'm talking nonsense)

That would be amazing. Thank you!

[2022-02-01 14:59] chris-wood commented on #320
I'm still not sure I'm following. Let's say one implemented the counter. Surely there must be code that's hit when the counter reaches its limit, right? So how exactly does a counter make the function infallible?

[2022-02-01 15:09] daxpedda opened #321 "Introduce a counter to `Blind`"
Currently some inputs exist that can't be used in `Blind` because they could yield the identity element through `HashToGroup`. One solution to this problem could be to introduce a counter, like in `DeriveKeyPair`.

From #320.

[2022-02-01 15:09] daxpedda commented on #320
https://github.com/cfrg/draft-irtf-cfrg-voprf/issues/321 if we can't make `Blind` infallible.

[2022-02-01 15:17] chris-wood commented on #320
I don't see how this won't be infallible. Let's assume you have prepend a counter to the input. Let's say further that _every_ prepended input maps to the identity element, perhaps because the hash-to-group function is borked. There's two situations here: either the counter keeps incrementing endlessly, never terminating (bad), or the counter does reach a limit and the function stops. In the latte

[2022-02-01 15:17] chris-wood commented on #321
This doesn't solve the problem. It just makes the (already negligible) probability of failure smaller.

[2022-02-01 15:21] daxpedda commented on #320
Yes!

[2022-02-01 15:21] daxpedda commented on #320
I'm starting to have doubts about my english, I kept saying it's **not** infallible, am I using a wrong expression or something? 😄

[2022-02-01 15:25] daxpedda commented on #320
My assumption (I might be wrong, IANA cryptographer), is that a counter would make it "actually" infallible, just not in code. But if all it does is only decrease the already astronomically small chance that it would fail, then of course it's pointless.

[2022-02-01 15:27] chris-wood commented on #320
Right, this is my take =)

[2022-02-01 15:28] daxpedda commented on #320
Alright. So the only option left is to hope that we can come up with a truly infallible solution.

[2022-02-01 15:29] daxpedda commented on #321
As discussed in #320, this is pointless.

[2022-02-01 15:29] #321 closed

[2022-02-01 15:34] chris-wood commented on #320
No problem -- thanks for the discussion!

[2022-02-01 19:01] armfazh commented on #320
Yes, it works; however, this will require new code for performing reductions modulo `n-1`.

[2022-02-01 19:11] armfazh commented on #320
Instead of increasing a counter, one can derive a new one through, for example, iterated hashing.

[code]

This approach has the disadvantage that it can run endlessly, which could be a target for attackers or when HashToGroup is broken.

[2022-02-01 20:52] chris-wood commented on #320
@armfazh this is still another instance of the try-and-increment approach, correct? It either must terminate after a certain number of iterations, or it must provably yield a non-identity element. We don't have (b), and (a) implies that the function is fallible. As you point out, we can't specify non-terminating behavior. And since this doesn't change the resulting failure probability -- it's stil

[2022-02-02 16:52] armfazh commented on #320
Yes, that code is just another try-and-increment method.
Not claiming superiority, only mentioned that the code snippet don't fail (unless something is broken) in response to the quest for an _infalible solution_.

[2022-02-03 02:44] chris-wood opened #322 "Update reference implementation to match pseudocode"
Naming of parameters and arguments has fallen behind the pseudocode description, even though the two match functionally. We should update the reference implementation to make things easier to line up. While we're in there, we should also provide some documentation for folks that want to use the reference implementation in other specifications.

[2022-02-03 23:12] kevinlewi opened #323 "Test vectors for POPRF: batching?"
Should the test vectors for POPRF include batch sizes > 1, since they support batch evaluation?

[2022-02-03 23:14] kevinlewi opened #324 "Remove extraneous reference to "Context-" string"
Here: https://github.com/cfrg/draft-irtf-cfrg-voprf/blame/main/draft-irtf-cfrg-voprf.md#L345 this sentence makes a little less sense now that "Context-" doesn't actually appear anywhere in the protocol anymore. Perhaps we could consider renaming this example to something that does appear, like "Finalize"?

[2022-02-04 12:37] chris-wood commented on #320
Well, as has been discussed in this thread, there's two outcomes for a try-and-increment approach: (1) the function terminates only when it finds a valid value, or (2) the function terminates after a certain number of iterations.

I think we all agree that (2) means the function must be fallible, whereas (1) is, in theory, not fallible. However, importantly, it is possible for (1) to not terminate

[2022-02-05 16:01] chris-wood opened #326 "PublicInput and PrivateInput length bounds"
~~These are currently 2^13, but they should be 2^16, since we encode their length in two bytes~~
Edit: Oops, duh, this is correct.

We could remove this constraint since these are currently passed as inputs to hash functions, but then we would need to define the limits of these hash functions, which we should probably do anyway.

[2022-02-07 15:25] #324 closed

[2022-02-08 22:23] #326 closed

[2022-04-09 21:43] bytemare opened #333 "Test vectors for failing conditions and edge-cases"
It is important for implementers to test their work produces correct results, and I believe that it is also important that the implementations fail or return relevant errors when necessary.

Has the addition of test vectors for particular cases or failing conditions been envisioned? Do you plan in adding such vectors?

This would greatly support tests for other protocols that use (V)OPRF, such as

[2022-04-26 01:03] chris-wood opened #335 "Add pointers to proven constructions"
The [crypto review panel feedback](https://mailarchive.ietf.org/arch/msg/crypto-panel/QXC3drh1hs-XGkXyjwyCj_pFNNI/) pointed out that there's a missing link between the different constructions in the draft and the papers in which they were proven secure. After offline exchanges with @vkumar-qc, adding these links would resolve the issue, so this issue tracks that.

[2022-04-26 01:52] chris-wood commented on #335
@armfazh or @alxdavids, is this something one of you can take?

[2022-04-29 01:25] armfazh opened #340 "Comments in Kumar's review"
Tracking issues raised in [review](https://mailarchive.ietf.org/arch/msg/crypto-panel/QXC3drh1hs-XGkXyjwyCj_pFNNI/)

Tracked in #342

Fixed in #336

TODO: Tracked in #297

Fixed in #336

Already fixed.

Fixed in #338

Fixed in #339 and #346

Fixed in #338

Fixed in #336

Fixed in #338

[2022-04-29 01:26] armfazh opened #341 "Better explain the batching API used in DLEQ proof"
From [review](https://mailarchive.ietf.org/arch/msg/crypto-panel/QXC3drh1hs-XGkXyjwyCj_pFNNI/)

[2022-04-29 01:28] armfazh opened #342 "Deserialization error"
From [review](https://mailarchive.ietf.org/arch/msg/crypto-panel/QXC3drh1hs-XGkXyjwyCj_pFNNI/)

[2022-04-29 01:29] armfazh commented on #342
I consider the current text is correct, that is deserialization must fail both due to an encoding error, _AND_ when the point is the identity element.

[2022-04-29 01:31] armfazh commented on #335
I can take this, just let me know what are the specific comments given offline.

[2022-04-29 22:45] chris-wood commented on #341
This is related to #297.

[2022-04-29 22:48] chris-wood commented on #342
Yep, I agree. We can resolve this by noting this feature when we describe the serialization function. Would that work?

[2022-04-29 22:51] chris-wood commented on #335
Thanks! We should also be sure to note differences between what was in these papers and what's done here. For example, I think the DLEQ proof in the original privacy pass paper included the group generator in the transcript, but we don't do that here. There might be other small differences too, but I don't recall them offhand.

[2022-04-29 22:53] chris-wood commented on #333
We could include test vectors with invalid request or response messages (maybe they deserialize to the identity element), or test cases where the proofs are corrupted or otherwise bogus. However, we can't come up with proofs for invalid inputs to the protocol (inputs that map to the identity element in the group).

[2022-05-03 17:46] #341 closed

[2022-05-21 00:45] chris-wood commented on #340
@armfazh if possible could you please give an update on this issue?

[2022-05-23 22:57] armfazh commented on #340
The remaining issues are:
 - #342 This is easy to fix, (I will prepare a PR, coming today-ish).
 - #297 This needs a bit of more refactor on the document. No big changes tough. I will work on a proposal for this issue this week, and want also hear other alternatives.

The other points in the review have been already addressed.

[2022-05-24 20:26] armfazh commented on #342
On a second thought, I think the focus for invalid input must be explicit in the `Input validation` section, rather than on deserialization.

See my proposal in #343 .

[2022-05-25 08:50] armfazh commented on #335
Refer to #344 for updates on this ticket.

[2022-05-25 17:51] #335 closed

[2022-05-25 17:52] #342 closed

[2022-05-25 21:12] armfazh commented on #320
it seems the consensus is that even adding a counter-based or a try-and-increment approach to avoid fallible cases, all what it does is to reduce the **already negligible** probability that these cases occur in practice.

Also, it is ok to avoid try-and-error approaches that do not terminate after a deterministic number of steps. Otherwise, an implementation can loop forever, without returning an

[2022-05-26 03:46] armfazh commented on #288
In principle this is a good idea especially when long inputs are passed to two hash functions (HashToGroup and last Hash).
OTOH, after looking at the [JJK paper](https://eprint.iacr.org/2014/650.pdf), the security proof and any other arguments always consider the client's input to be part of the last hash invocation.
So, I am not really confident about removing the input from the last hash, not su

[2022-05-26 10:37] chris-wood commented on #288
Yeah, I no longer think we can just remove it, but we could replace it with its concise representation (i.e., `HashToGroup(input)`).

[2022-05-26 10:41] chris-wood commented on #320
Agreed. Closing without resolution, as we already note this is an exceptional case that occurs with negligible probability.

[2022-05-26 10:41] #320 closed

[2022-05-26 10:41] chris-wood commented on #288
Leaving this as-is absent security analysis.

[2022-05-26 10:41] #288 closed

[2022-05-26 16:27] #297 closed, assigned to nobody

[2022-05-26 17:23] armfazh commented on #340
This ticket has all the listed issues addressed/resolved now.

[2022-05-27 22:50] #340 closed

[2022-10-15 00:03] cjpatton opened #362 "RGLC Review: Chris P.: Editorial"
- [x] (nit) s.2.1: In the list of group member functions, each item is prefixed by "A member function of Group that" except for the first three. I think you could remove these prefixes.
- [ ] s.2.2: "noninteractive" -> "non-interactive"
- [x] s.3: "In this section, we define three protocol variants referred as the OPRF, VOPRF, and POPRF modes with the following properties." -> "referred to as"
- [

[2022-10-15 01:45] armfazh commented on #362
I made some comments about some suggestions that produced no changes.

According to Merriam website, it is used without dash
https://www.merriam-webster.com/dictionary/noninteractive

Modulus may be good fit when talking about modular reduction. We avoid get into that details and leave the description a bit more abstract.

Your observation is ok, but another difference between OPRF and POPRF is ve

[2022-11-15 00:27] armfazh opened #365 "On preparation for v15"
This PRs must be merged for v15.

#360
#361
#363
#364

[2022-11-21 23:12] #362 closed

[2022-11-22 14:52] #365 closed